<template>
    <div>
        <VueSelect label="name"
         :options="options"
         :reduce="(option) => option.id"
         class="form-control p-0" :class="{'is-invalid' : error }"
         :disabled="readonly"
         @option:selected="onSelect"
         v-model="selected">
        </VueSelect>
        <div class="invalid-feedback" v-if="error">Jenis Ternak Wajib Diisi!</div>
    </div>
</template>

<style>
.vs__dropdown-toggle {
    border: none !important;
}
</style>
<script>

import VueSelect from 'vue-select';
import _ from 'lodash';
import axios from 'axios';
export default {
    name : 'type-select',
    components: {
        VueSelect
    },
    watch : {
        selected(value) {
            if(!value){
                this.$emit('update:modelValue', null)
            }else{
                this.$emit('update:modelValue', value)
            }
        },
        modelValue(v){
            this.selected = v
        },
    },
    mounted (){
        this.getSelection();
    },
    props : {
        error : String,
        modelValue : Number,
        readonly : {
            type : Boolean,
            default : false,
        }
    },
    data(){
        return {
            options : [],
            selected : this.modelValue,
            search : null,
        }
    },
    methods :{
        onSelect(e){
            this.$emit('selected', e);
        },
        onSearch(search, loading) {
            if(search.length) {
                this.search = search;
                this.getSelection();
            }
        },
        async getSelection(){
            const self = this;
            var params = {
                id: self.selected,
            };

            if(this.search){
                let search = {
                    search : this.search
                }
                params = Object.assign(params, search)
            }
            await axios.get(this.route("base.type"), {
                params
            })
            .then(function (response) {
                const resp = response.data;
                self.options = resp;
            })
            .catch(function (error) {
                
            })
        },
    },
}
</script>