<template>
    <base-layout>
        <div class="content">
            <form @submit.prevent="submit">
                <div class="content-heading d-flex justify-content-between align-items-center pt-0">
                    <span>
                        {{ title }}
                    </span>
                    <div class="d-flex">
                        <a :href="route('user.purchase.index')" class="btn btn-sm btn-danger me-1">
                            <i class="fa fa-fw fa-times me-1"></i>
                            Batal
                        </a>
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-fw fa-check me-1"></i>
                            Simpan
                        </button>
                    </div>
                </div>
                <div class="block block-bordered block-shadow block-rounded">
                    <div class="block-content pb-15">
                        <div class="row">
                            <div class="col-md-6">
                                
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-supplier">Pelanggan</label>
                                    </div>
                                    <div class="col-md-8">
                                        <customer-select v-model="form.customer_id" size="sm" :error="errors.supplier_id"/>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-ref">No Referensi</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm" :class="{'is-invalid' : errors.ref}" id="input-ref" v-model="form.ref" >
                                        <div id="input-ref" class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-ref">Tanggal</label>
                                    </div>
                                    <div class="col-md-8">
                                        <flat-pickr class="bg-white form-control form-control-sm" :config="dateConfig" :class="{'is-invalid' : errors.date}" v-model="form.date"></flat-pickr>
                                        <div class="invalid-feedback" v-if="errors.date">{{ errors.date }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-ref">Tanggal Pengiriman</label>
                                    </div>
                                    <div class="col-md-8">
                                        <flat-pickr class="bg-white form-control form-control-sm" :config="dueConfig" :class="{'is-invalid' : errors.schedule_date}" v-model="form.schedule_date"></flat-pickr>
                                        <div class="invalid-feedback" v-if="errors.schedule_date">{{ errors.schedule_date }}</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-ref">Jatuh Tempo</label>
                                    </div>
                                    <div class="col-md-8">
                                        <flat-pickr class="bg-white form-control form-control-sm" :config="dueConfig" :class="{'is-invalid' : errors.due_date}" v-model="form.due_date"></flat-pickr>
                                        <div class="invalid-feedback" v-if="errors.due_date">{{ errors.due_date }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-content px-0 pb-3">
                        <table class="table table-vcenter table-bordered editable">
                            <thead class="bg-body">
                                <tr>
                                    <th width="275px">Ternak</th>
                                    <th width="320px">Jenis Kelamin</th>
                                    <th width="150px">Berat Min</th>
                                    <th width="150px">Berat Max</th>
                                    <th width="200px">Harga</th>
                                    <th width="40px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="lines.length">
                                    <tr v-for="(line, index) in lines" :key="index">
                                        <td class="p-1">
                                            <type-select v-model="line.type_id"/>
                                        </td>
                                        <td class="p-1">
                                            <vue-select class="form-control p-0" :options="['Jantan', 'Betina']" v-model="line.jk"></vue-select>
                                        </td>
                                        <td class="p-1">
                                            <div class="input-group">
                                                <input type="number" class="form-control" :value="lines[index].weight_min"  @change="event => lines[index].weight_min = event.target.value">
                                                <span class="input-group-text">Kg</span>
                                            </div>
                                        </td>
                                        <td class="p-1">
                                            <div class="input-group">
                                                <input type="number" class="form-control" :value="lines[index].weight_max"  @change="event => lines[index].weight_max = event.target.value">
                                                <span class="input-group-text">Kg</span>
                                            </div>
                                        </td>
                                        <td class="p-1">
                                            <CurrencyInput :value="lines[index].price"  @change="updateLinePrice(index, $event)" class="form-control"/>
                                        </td>
                                        <td class="p-1">
                                            <button  class="btn btn-sm btn-danger me-1" @click.prevent="removeLine(index)" v-tippy="'Hapus!'">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </template>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <button class="btn btn-primary btn-sm w-50" type="button" @click.prevent="addLines">
                                            Tambah
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="trans_summ">
                                    <div class="label">Total</div>
                                    <div class="value">{{ currency(form.total) }}</div>
                                </div>
                                <div class="trans_summ">
                                    <div class="label">Discount</div>
                                    <div class="value">{{ currency(form.discount_amount) }}</div>
                                </div>
                                <div class="trans_summ">
                                    <div class="label">Grand Total</div>
                                    <div class="value">{{ currency(form.grand_total) }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </base-layout>
</template>
<style lang="scss" scoped>
</style>
<script>
import locationSelect from '../Inventory/LocationSelect';
import flatPickr from 'vue-flatpickr-component';
import CustomerSelect from '../Customer/CustomerSelect';
import CurrencyInput from '@/Components/Form/CurrencyInput';
import TypeSelect from '../Type/TypeSelect';
import VueSelect from 'vue-select';
export default {
    components : {
        flatPickr,
        CustomerSelect,
        CurrencyInput,
        locationSelect,
        VueSelect,
        TypeSelect
    },
    data(){
        return {
            loading : false,
            form : {
                id : null,
                customer_id : null,
                ref : null,
                date : new Date(),
                due_date : null,
                schedule_date : null,
                location_id : null,
                total : 0,
                discount_type : 'nominal',
                discount_amount : 0,
                discount_value : 0,
                grand_total : 0,
            },
            removedLines : [],
            lines : [
                {
                    id : null,
                    type_id : null,
                    jk : 'Jantan',
                    weight_min : null,
                    weight_max : null,
                    price : null,
                }
            ],
            title : 'Buat Pesanan',
            dateConfig: {
                altFormat: 'j F Y H:i',
                altInput: true,
                dateFormat: 'Y-m-d H:i',
                showMonths: 1,
                enableTime: true,
                time_24hr: true
            },
            dueConfig: {
                altFormat: 'j F Y',
                altInput: true,
                dateFormat: 'Y-m-d',
                showMonths: 1,
            },
        }
    },
    props :{
        errors : Object,
        editMode : Boolean,
        data : Object,
    },
    mounted(){
        if(this.editMode){
            this.editModeActive();
        }
    },
    methods : {
        checkJk(e){
            console.log(e);
        },
        addLines(){
            this.lines.push({
                id : null,
                type_id : null,
                jk : 'Jantan',
                weight_min : null,
                weight_max : null,
                price : null,
            });
        },
        removeLine(idx){
            if(this.lines[idx].id){
                this.removedLines.push(this.lines[idx].id);
            }
            this.lines.splice(idx, 1);
            if(!this.lines.length){
                this.addLines();
            }
        },
        updateLinePrice(index, e){
            // console.log(e);
            // console.log(index);
            this.lines[index].price = e;

            this.updateLines();
        },
        calculateDiscount(){

        },
        updateLines(){
            this.form.total = 0;
            for (var i = 0; i < this.lines.length; i++) {
                this.form.total += this.lines[i].price;
            }

            this.form.grand_total = this.form.total - this.form.discount_amount;
        },
        submit: function(){
            let data = Object.assign(this.form, {
                    lines : this.lines, 
                    removedLines : this.removedLines,
                }
            );
            let form = this.$inertia.form(data)
            let url = this.editMode ? this.route("user.sale.update", {id : this.data.id }) : this.route("user.sale.store");
            form.post(url, {
                preserveScroll: true,
                resetOnSuccess: true,
                onSuccess: () => {
                    this.$bvToast.toast(this.$page.props.flash.message, {
                        autoHideDelay: 15000,
                    });
                },
                onFinish: () => {
                    this.loading = false;
                },
            });
        },
        editModeActive(){
            this.title = 'Ubah Pesanan';
            this.form.id = this.data.id;
            this.form.supplier_id = this.data.supplier_id;
            this.form.ref = this.data.ref;
            this.form.date = this.data.order_date;
            this.form.due_date = this.data.due_date;
            this.form.total = this.data.total;
            this.form.grand_total = this.data.grand_total;
            this.form.discount_type = this.data.discount_type;
            this.form.discount_value = this.data.discount_value;

            
            if(this.data.lines.length > 0){
                this.lines = [];
                this.data.lines.forEach((value, index) => {
                    let line = {
                        id : value.id,
                        type_id : value.type_id,
                        eartag : value.eartag,
                        weight : value.weight,
                        price : value.price,
                    }
                    this.lines.push(line);
                });
            }
        },
    }
}
</script>