<template>
    <base-layout title="Buat Pesanan" hideFooter>
        <form @submit.prevent="submit">
            <div class="content">
                    <div class="content-heading d-flex justify-content-between align-items-center pt-0" v-if="!$isMobile()">
                        <span>
                            {{ title }}
                        </span>
                        <div class="d-flex">
                            <a :href="route('user.sale.index')" class="btn btn-sm btn-danger me-1">
                                <i class="fa fa-fw fa-times me-1"></i>
                                Batal
                            </a>
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa fa-fw fa-check me-1"></i>
                                Simpan
                            </button>
                        </div>
                    </div>
                    <div class="block block-bordered block-shadow block-rounded">
                        <div class="block-content pb-15">
                            <div class="row">
                                <div class="col-md-6">  
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label for="input-supplier">Pelanggan</label>
                                        </div>
                                        <div class="col-md-8">
                                            <customer-select v-model="form.customer_id" size="sm"/>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label for="input-ref">No Referensi</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control form-control-sm" :class="{'is-invalid' : errors.ref}" id="input-ref" v-model="form.ref" >
                                            <div id="input-ref" class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label for="input-ref">Tanggal</label>
                                        </div>
                                        <div class="col-md-8">
                                            <flat-pickr class="bg-white form-control form-control-sm" :config="dateConfig" :class="{'is-invalid' : errors.date}" v-model="form.date"></flat-pickr>
                                            <div class="invalid-feedback" v-if="errors.date">{{ errors.date }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label for="input-ref">Tanggal Pengiriman</label>
                                        </div>
                                        <div class="col-md-8">
                                            <flat-pickr class="bg-white form-control form-control-sm" :config="dueConfig" :class="{'is-invalid' : errors.schedule_date}" v-model="form.schedule_date"></flat-pickr>
                                            <div class="invalid-feedback" v-if="errors.schedule_date">{{ errors.schedule_date }}</div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label for="input-ref">Jatuh Tempo</label>
                                        </div>
                                        <div class="col-md-8">
                                            <flat-pickr class="bg-white form-control form-control-sm" :config="dueConfig" :class="{'is-invalid' : errors.due_date}" v-model="form.due_date"></flat-pickr>
                                            <div class="invalid-feedback" v-if="errors.due_date">{{ errors.due_date }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-content pt-0 p-3">
                            <template v-if="$isMobile()">
                                <h3 class="mb-2 fs-5">List Pesanan</h3>
                                <div class="block block-bordered rounded-2 mb-2" v-for="(line, index) in lines" :key="index">
                                    <div class="block-content d-flex p-2">
                                        <img :src="line.cattle.image" class="cattle-img"/>
                                        <div class="ps-3">
                                            <h5 class="fs-6 fs-md-5 fw-bold mb-1 mb-md-2">{{ line.cattle.eartag }}
                                                <small class="fs-md-sm fw-normal ms-2">{{ line.cattle.type }}</small>
                                            </h5>
                                            <p class="text-muted mb-0">
                                                <i class="fa fa-map-pin me-1"></i> {{ line.cattle.location }}<br>
                                                <i class="fa fa-weight-scale"></i> {{  line.cattle.weight }} Kg <br>
                                                <i class="fa fa-venus-mars"></i> {{ line.cattle.jk }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="block-content border-top border-2 p-2">
                                        <div class="d-flex justify-content-between">
                                            <div class="text-start fs-6">
                                                {{ currency(line.unit_price) }}/Kg
                                            </div>
                                            <div class="text-end fw-bold fs-6">
                                                {{ currency(line.price) }}
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <button  class="btn btn-alt-secondary btn-secondary btn-sm me-1 w-50" @click.prevent="editLine(index)">
                                                <i class="fa fa-pen-to-square me-1"></i> Edit
                                            </button>
                                            <button  class="btn btn-sm btn-alt-secondary w-50" @click.prevent="removeLine(index)">
                                                <i class="fa fa-trash-can me-1"></i> Hapus
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-sm btn-primary w-100 mb-3" @click.prevent="openModal">
                                    <i class="fa-regular fa-plus me-1"></i>
                                    Tambah
                                </button>

                            </template>
                            <table class="table table-vcenter table-bordered" v-else>
                                <thead class="bg-body">
                                    <tr>
                                        <th width="50%">Ternak</th>
                                        <th width="24%">Harga/Kg</th>
                                        <th width="25%">Total</th>
                                        <th width="1%" class="text-center">
                                            <button  class="btn btn-sm btn-primary me-1" @click.prevent="addLines" v-tippy="'Tambah!'">
                                                <i class="fa-regular fa-plus"></i>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template v-if="lines.length">
                                        <tr v-for="(line, index) in lines" :key="index">
                                            <td>
                                                <cattle-select :value="line.cattle_id"  @change="addCattle($event, index)"/>
                                            </td>
                                            <td>
                                                <CurrencyInput :value="lines[index].unit_price"  @change="updateLinePrice($event, index)" :id="'net_price-'+index" class="form-control"/>
                                            </td>
                                            <td>
                                                {{ currency(line.price) }}
                                            </td>
                                            <td class="text-center">
                                                <button  class="btn btn-sm btn-danger me-1" @click.prevent="removeLine(index)" v-tippy="'Hapus!'">
                                                    <i class="fa-regular fa-trash-can"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </template>
                                    <!-- <tr>
                                        <td colspan="5" class="text-center">
                                            <button class="btn btn-primary btn-sm w-50" type="button" @click.prevent="addLines">
                                                Tambah
                                            </button>
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                    <div class="trans_summ">
                                        <div class="label">Total</div>
                                        <div class="value">{{ currency(form.total) }}</div>
                                    </div>
                                    <div class="trans_summ">
                                        <div class="label">Discount</div>
                                        <div class="value">{{ currency(form.discount_amount) }}</div>
                                    </div>
                                    <div class="trans_summ">
                                        <div class="label">Grand Total</div>
                                        <div class="value">{{ currency(form.grand_total) }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="footer-nav-area" v-if="$isMobile()">
                    <div class="content">
                        <div class="row">
                            <div class="col-6">
                                <a :href="route('user.sale.index')" class="btn btn-danger me-1 w-100">
                                    <i class="fa fa-fw fa-times me-1"></i>
                                    Batal
                                </a>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary w-100">
                                    <i class="fa fa-fw fa-check me-1"></i>
                                    Simpan
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <b-modal size="lg" id="modal-block-normal"  v-model="isOpen" body-class="p-0 slide-up" hide-footer hide-header @hide.prevent dialog-class="modal-dialog-slideup m-0">
            <div class="block mb-0 block-rounded-top">
                <div class="block-header">
                    <h3 class="block-title">Tambah Ternak</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" @click.prevent="resetLines">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="bg-body p-3">
                    <div class="bg-white block-content p-3 rounded-3">
                        <div class="mb-3">
                            <label for="input-name">Pilih Ternak</label>
                            <cattle-select :value="lineForm.cattle_id"  @change="addCattle"/>
                        </div>
                        <div class="mb-3">
                            <label for="input-number">Harga / Kg</label>
                            <CurrencyInput :value="lineForm.unit_price" @change="updateLinePrice" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label for="input-number">Total Harga</label>
                            <div class="fs-6">{{ currency(lineForm.price)}}</div>
                        </div>
                    </div>
                </div>
                <div class="block-content block-content-full border-top d-flex px-3 py-2 text-end">
                    <b-button variant="danger" class="me-1 w-50" @click.prevent="resetLines">Batal</b-button>
                    <b-button variant="primary w-50" @click.prevent="submitLines">Simpan</b-button>
                </div>
            </div>
        </b-modal>
    </base-layout>
</template>
<style scoped>

.cattle-img{
    display: block;
    border-radius: 8px;
    width: 100%;
    max-width: 100px;
    min-width: 100px;
    height: 100%;
    min-height: 100px;
    max-height: 100px;
    object-fit: cover;
 }
</style>
<script>
import locationSelect from '../Inventory/LocationSelect';
import flatPickr from 'vue-flatpickr-component';
import CustomerSelect from '../Customer/CustomerSelect';
import CurrencyInput from '@/Components/Form/CurrencyInput';
import TypeSelect from '../Type/TypeSelect';
import VueSelect from 'vue-select';
import CattleSelect from '../Cattle/CattleSelect.vue';
export default {
    components : {
        flatPickr,
        CustomerSelect,
        CurrencyInput,
        locationSelect,
        VueSelect,
        CattleSelect,
        TypeSelect
    },
    data(){
        return {
            loading : false,
            isOpen : false,
            form : {
                id : null,
                customer_id : null,
                ref : null,
                date : new Date(),
                due_date : null,
                schedule_date : null,
                location_id : null,
                total : 0,
                discount_type : 'nominal',
                discount_amount : 0,
                discount_value : 0,
                grand_total : 0,
            },
            lineForm : {
                index : null,
                editMode : false,
                id : null,
                cattle_id : null,
                cattle : null,
                weight : null,
                unit_price : 0,
                price : 0,
            },
            removedLines : [],
            lines : [],
            title : 'Buat Pesanan',
            dateConfig: {
                altFormat: 'j F Y H:i',
                altInput: true,
                dateFormat: 'Y-m-d H:i',
                showMonths: 1,
                enableTime: true,
                time_24hr: true,
                disableMobile : true
            },
            dueConfig: {
                altFormat: 'j F Y',
                altInput: true,
                dateFormat: 'Y-m-d',
                showMonths: 1,
                disableMobile : true
            },
        }
    },
    props :{
        errors : Object,
        editMode : Boolean,
        data : Object,
    },
    mounted(){
        if(this.editMode){
            this.editModeActive();
        }
        if(!this.$isMobile()){
            this.lines.push({
                id : null,
                cattle_id : null,
                cattle : null,
                weight : null,
                unit_price : 0,
                price : 0,
            });
        }
    },
    methods : {
        resetLines(){
            this.lineForm.id = null;
            this.lineForm.index = null;
            this.lineForm.editMode = false;
            this.lineForm.cattle_id = null;
            this.lineForm.cattle = null;
            this.lineForm.weight = null;
            this.lineForm.unit_price = null;
            this.lineForm.price = 0;
            this.isOpen = false;
        },
        openModal(){
            this.lineForm.id = null;
            this.lineForm.index = null;
            this.lineForm.editMode = false;
            this.lineForm.cattle_id = null;
            this.lineForm.cattle = null;
            this.lineForm.weight = null;
            this.lineForm.unit_price = null;
            this.lineForm.price = 0;

            this.isOpen = true;
        },
        submitLines(){
            if(this.lineForm.editMode){
                let idx = this.lineForm.index;
                this.lines[idx].id = this.lineForm.id;
                this.lines[idx].cattle_id = this.lineForm.cattle_id;
                this.lines[idx].cattle = this.lineForm.cattle;
                this.lines[idx].weight = this.lineForm.weight;
                this.lines[idx].unit_price = this.lineForm.unit_price;
                this.lines[idx].price = this.lineForm.price;
            }else{
                this.lines.push({
                    id : this.lineForm.id,
                    cattle_id : this.lineForm.cattle_id,
                    cattle : this.lineForm.cattle,
                    weight : this.lineForm.weight,
                    unit_price : this.lineForm.unit_price,
                    price : this.lineForm.price,
                });
            }

            this.isOpen = false;
            this.updateLines();
        },
        editLine(i){
            this.lineForm.index = i;
            this.lineForm.editMode = true;
            this.lineForm.id = this.lines[i].id;
            this.lineForm.cattle_id = this.lines[i].cattle_id;
            this.lineForm.cattle = this.lines[i].cattle;
            this.lineForm.weight = this.lines[i].weight;
            this.lineForm.unit_price = this.lines[i].unit_price;
            this.lineForm.price = this.lines[i].price;
            this.isOpen = true;
        },
        addCattle(e, i = null){
            if(i){
                this.lines[i].cattle_id = e.id;
                this.lines[i].weight = e.weight;
                this.lines[i].eartag = e.eartag;
                this.lines[i].jk = e.jk;
            }else{
                this.lineForm.cattle = e;
                this.lineForm.cattle_id = e.id;
                this.lineForm.weight = e.weight;
            }
        },
        addLines(){
            this.lines.push({
                id : null,
                cattle_id : null,
                weight : null,
                unit_price : 0,
                price : 0,
            });
        },
        removeLine(idx){
            if(this.lines[idx].id){
                this.removedLines.push(this.lines[idx].id);
            }
            this.lines.splice(idx, 1);
            if(!this.lines.length){
                if(!this.$isMobile()){
                    this.addLines();
                }
            }
        },
        updateLinePrice(e, index = null){
            console.log(e);
            if(index){
                this.lines[index].unit_price = e;
                this.lines[index].price = this.lines[index].unit_price * this.lines[index].weight;
                this.updateLines();
            }else{
                this.lineForm.unit_price = e;
                this.lineForm.price = this.lineForm.unit_price * this.lineForm.weight;
            }
        },
        calculateDiscount(){

        },
        updateLines(){
            this.form.total = 0;
            for (var i = 0; i < this.lines.length; i++) {
                this.form.total += this.lines[i].price;
            }

            this.form.grand_total = this.form.total - this.form.discount_amount;
        },
        submit: function(){
            let data = Object.assign(this.form, {
                    lines : this.lines, 
                    removedLines : this.removedLines,
                }
            );
            let form = this.$inertia.form(data)
            let url = this.editMode ? this.route("user.sale.update", {id : this.data.id }) : this.route("user.sale.store");
            form.post(url, {
                preserveScroll: true,
                resetOnSuccess: true,
                onSuccess: () => {
                    this.$bvToast.toast(this.$page.props.flash.message, {
                        autoHideDelay: 15000,
                    });
                },
                onFinish: () => {
                    this.loading = false;
                },
            });
        },
        editModeActive(){
            this.title = 'Ubah Pesanan';
            this.form.id = this.data.id;
            this.form.supplier_id = this.data.supplier_id;
            this.form.ref = this.data.ref;
            this.form.date = this.data.order_date;
            this.form.due_date = this.data.due_date;
            this.form.total = this.data.total;
            this.form.grand_total = this.data.grand_total;
            this.form.discount_type = this.data.discount_type;
            this.form.discount_value = this.data.discount_value;

            
            if(this.data.lines.length > 0){
                this.lines = [];
                this.data.lines.forEach((value, index) => {
                    let line = {
                        id : value.id,
                        type_id : value.type_id,
                        eartag : value.eartag,
                        weight : value.weight,
                        price : value.price,
                    }
                    this.lines.push(line);
                });
            }
        },
    }
}
</script>