<template>
    <base-layout title="List Pesanan">
        <div class="content" v-if="$isMobile()">
            <a v-for="(item, i) of dataList" :key="i" class="block block-trans" :href="route('user.sale.show', { id : item.id })">
                <div class="block-content">
                    <div class="info">
                        <h2 class="fs-5 fw-semibold mb-0">{{ item.name }}
                            <small>
                                <span class="badge bg-success" v-if="item.state == 'done'">Selesai</span>
                                <span class="badge bg-primary" v-else-if="item.state == 'confirm'">Proses</span>
                                <span class="badge bg-warning" v-else-if="item.state == 'draft'">Draft</span>
                                <span class="badge bg-danger" v-else>Batal</span>
                            </small>
                        </h2>
                        <p class="text-muted mb-0">
                            {{ item.customer }} <br>
                            {{ date(item.order_date) }}
                        </p>
                    </div>
                    <div class="my-auto">
                        <div class="text-end">
                            <span class="badge bg-success" v-if="item.status_payment == 'paid'">Lunas</span>
                            <span class="badge bg-primary" v-else-if="item.status_payment == 'partial'">Sebagian</span>
                            <span class="badge bg-danger" v-else>Belum Bayar</span>
                        </div>
                        <div class="fs-5 fw-semibold">{{ currency(item.grand_total) }}</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="content" v-else>
            <div class="content-heading d-flex justify-content-between align-items-center">
                <span>
                    List Pesanan
                </span>
                
                <a :href="route('user.sale.create')" class="btn btn-sm btn-primary">
                    <i class="fa fa-plus me-1"></i>
                    <span>Tambah Pesanan</span>
                </a>
            </div>

            <div class="block">
                <div class="block-content p-3">
                    <form @submit.prevent="search">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="input-ref">Pencarian</label>
                                <div class="input-group input-group-search">
                                    <b-dropdown size="sm">
                                        <template #button-content>
                                            <span> {{ search_name }} </span>
                                        </template>
                                        <b-dropdown-item href="javascript:void(0)" @click.prevent="filter.searchType = 'sale.name'">
                                            Nomor
                                        </b-dropdown-item>
                                        <b-dropdown-item href="javascript:void(0)" @click.prevent="filter.searchType = 'pr.name'">
                                            Customer
                                        </b-dropdown-item>
                                    </b-dropdown>
                                    <input type="text" class="form-control" id="example-group1-input1" v-model="filter.search">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="input-ref">Status</label>
                                <select class="form-control" v-model="filter.state">
                                    <option value="">Semua</option>
                                    <option value="draft">Draft</option>
                                    <option value="diproses">Diproses</option>
                                    <option value="done">Selesai</option>
                                    <option value="cancel">Batal</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="input-ref">Pembayaran</label>
                                <select class="form-control" v-model="filter.payment">
                                    <option value="">Semua</option>
                                    <option value="unpaid">Belum Bayar</option>
                                    <option value="partial">Sebagian</option>
                                    <option value="paid">Lunas</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex">
                            <button class="btn btn-primary btn-sm me-2" type="submit">
                                Cari
                            </button>
                            <button class="btn btn-danger btn-sm" @click="reset">
                                Atur Ulang
                            </button>
                        </div>
                    </form>
                </div>
                <div class="block-content p-0 pb-3">
                    <EasyDataTable
                        v-model:server-options="options"
                        :server-items-length="dataTotal"
                        :loading="loading"
                        :headers="headers"
                        :items="dataList"
                        table-class-name="datatable"
                    >
                    <template #item-order_date="item">
                        {{ date(item.order_date) }}
                    </template>
                    <template #item-grand_total="item">
                        {{ currency(item.grand_total) }}
                    </template>
                    <template #item-state="item">
                        <span class="badge bg-success" v-if="item.state == 'done'">Selesai</span>
                        <span class="badge bg-primary" v-else-if="item.state == 'confirm'">Proses</span>
                        <span class="badge bg-warning" v-else-if="item.state == 'draft'">Draft</span>
                        <span class="badge bg-danger" v-else>Batal</span>
                    </template>
                    <template #item-status_payment="item">
                        <span class="badge bg-success" v-if="item.state == 'paid'">Lunas</span>
                        <span class="badge bg-primary" v-else-if="item.state == 'partial'">Sebagian</span>
                        <span class="badge bg-danger" v-else>Belum Bayar</span>
                    </template>
                    <template #item-options="item">
                        <a :href="route('user.sale.show', { id : item.id })" class="btn btn-sm btn-alt-secondary me-1" v-tippy="'Detail!'">
                            <i class="fa fa-eye"></i>
                        </a>
                        <template v-if="['draft', 'cancel'].includes(item.state)">
                            <a :href="route('user.sale.edit', { id : item.id })" class="btn btn-sm btn-alt-secondary me-1" v-tippy="'Edit!'">
                                <i class="fa fa-pen-to-square"></i>
                            </a>
                            <button  class="btn btn-sm btn-alt-secondary me-1" @click.prevent="remove(item.id)" v-tippy="'Hapus!'">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </template>
                    </template>
                    </EasyDataTable>
                </div>
            </div>
        </div>
        <div class="floating-container" v-if="$isMobile()">
            <a :href="route('user.sale.create')" class="btn btn-primary btn-floating">
                <i class="fa fa-plus fa-2x"></i>
            </a>
        </div>
    </base-layout>
</template>
<script>
import axios from 'axios';
import moment from 'moment';
import EasyDataTable from 'vue3-easy-data-table';
export default {
    components : {
        EasyDataTable
    },  
    data () {
      return {
        dataList: [],
        dataTotal : 0,
        loading: false,
        options: {},
        currentPage : 1,
        headers: [
            { text: "NOMOR", value: "name" },
            { text: "TANGGAL", value: "order_date"},
            { text: "PELANGGAN", value: "customer"},
            { text: "TOTAL", value: "grand_total"},
            { text: "STATUS", value: "state"},
            { text: "PEMBAYARAN", value: "status_payment"},
            { text: "OPSI", value: "options", width : 135},
        ],
        options :{
            page: 1,
            rowsPerPage: 5,
            sortBy: 'name',
            sortType: 'desc',
        },
        filter:{
            searchType : 'sale.name',
            search : null,
            state : "",
            payment : "",
        }
      }
    },
    created(){
        this.fetchData();
    },
    computed : {
        search_name(){
            if(this.filter.searchType == 'sale.name'){
                return 'Nomor';
            }else{
                return 'Customer';
            }
        }
    },
    methods: {
        search(){
            this.fetchData();
        },
        reset(){
            this.filter.searchType = 'sale.name';
            this.filter.search = '';
            this.filter.state = '';
            this.filter.payment = '';

            this.fetchData();
        },
        date(value){
            if (value) {
                return moment(String(value)).format('DD MMMM YYYY hh:mm')
            }
        },
        async fetchData(page = 1){
            const self = this;
            self.loading = true;
            let params = {
                page : page,
                limit : this.options.rowsPerPage,
                sort : this.options.sortBy,
                sortDir : this.options.sortType,
                searchType : this.filter.searchType,
                search : this.filter.search,
                state : this.filter.state,
                status_payment : this.filter.payment,
            }

            await axios.get(this.route("user.sale.data"),{
                params: params
            })
            .then(function (response) {
                const resp = response.data;
                self.dataList = resp.data;
                self.dataTotal = resp.total;
                self.loading = false;
            })
            .catch(function (error) {
                
            })
        },
        remove(id){
            this.$swal.fire({
                icon: 'warning',
                title: 'Kamu Yakin?',
                text: `Data yang dihapus tidak bisa kembali!`,
                showCancelButton: true,
                cancelButtonText: 'Tidak, Batal',
                confirmButtonText: 'Ya, Hapus!',
            }).then((result) => {
                if (result.isConfirmed) {
                    this.$inertia.delete(this.route('user.sale.delete', {id : id}), {
                        preserveScroll: true
                    })
                }
            })
        },
    },
}
</script>