<template>
    <header id="page-header">
        <!-- Header Content -->
        <div class="content-header">
            <!-- Left Section -->
            <div class="space-x-1">
                <!-- Logo -->
                <a class="link-fx fw-bold" href="index.html">
                    <i class="fa fa-fire text-primary"></i>
                    <span class="fs-4 text-dual">Terna</span><span class="fs-4 text-primary">Q</span>
                </a>
                <!-- END Logo -->
            </div>
            <!-- END Left Section -->


            <!-- Right Section -->
            <div class="space-x-1">
                
                <b-dropdown variant="block-option" class="d-inline-block ml-2 p-0" menu-class="p-0 border-0 dropdown-menu-md" right no-caret ref="oneDropdownDefaultUser">
                    <template #button-content>
                        <div class="d-flex align-items-center">
                            <img class="img-avatar img-avatar32 me-1" :src="$page.props.user.avatar" alt="Header Avatar">
                            <span class="d-none d-sm-inline-block ml-2">{{ $page.props.user.name }}</span>
                            <i class="fa fa-fw fa-angle-down d-none d-sm-inline-block ml-1 mt-1"></i>
                        </div>
                    </template>
                    <div class="p-3 text-center bg-primary rounded-top">
                        <img class="img-avatar img-avatar48 img-avatar-thumb" :src="$page.props.user.avatar" alt="">
                        <p class="mt-2 mb-0 text-white font-w500">{{ $page.props.user.name }}</p>
                    </div>
                    <div class="p-2">
                        <Link class="dropdown-item d-flex align-items-center justify-content-between">
                            <span class="font-size-sm font-w500">Profile</span>
                        </Link>
                        <LinK method="post" as="button" class="dropdown-item d-flex align-items-center justify-content-between">
                            <span class="font-size-sm font-w500">Change Password</span>
                        </Link >
                        <Link :href="route('logout')" method="post" as="button" class="dropdown-item d-flex align-items-center justify-content-between">
                            <span class="font-size-sm font-w500">Log Out</span>
                        </Link >
                    </div>
                </b-dropdown>
            </div>
            <!-- END Right Section -->
        </div>
        <!-- END Header Content -->

        <!-- Header Content -->
        <div class="content-header d-lg-flex d-none">
            <ul class="nav-main nav-main-horizontal nav-main-hover">
                <li class="nav-main-item">
                    <a class="nav-main-link active" :href="route('user.dashboard.index')">
                        <i class="nav-main-link-icon fa fa-house-user"></i>
                        <span class="nav-main-link-name">Dashboard</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                        aria-expanded="false" href="#">
                        <i class="nav-main-link-icon fa fa-cart-shopping"></i>
                        <span class="nav-main-link-name">Pembelian</span>
                    </a>
                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <a class="nav-main-link" :href="route('user.purchase.create')">
                                <span class="nav-main-link-name">Buat Pembelian</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" :href="route('user.purchase.index')">
                                <span class="nav-main-link-name">List Pembelian</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" :href="route('user.purchase.supplier.index')">
                                <span class="nav-main-link-name">List Supplier</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" :href="route('user.purchase.investor.index')">
                                <span class="nav-main-link-name">List Investor</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                        aria-expanded="false" href="#">
                        <i class="nav-main-link-icon fa fa-tag"></i>
                        <span class="nav-main-link-name">Pesanan</span>
                    </a>
                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <a class="nav-main-link" :href="route('user.sale.create')">
                                <span class="nav-main-link-name">Buat Pesanan</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" :href="route('user.sale.index')">
                                <span class="nav-main-link-name">List Pesanan</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" :href="route('user.sale.customer.index')">
                                <span class="nav-main-link-name">List Customer</span>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="nav-main-item">
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                        aria-expanded="false" href="#">
                        <i class="nav-main-link-icon fa fa-warehouse"></i>
                        <span class="nav-main-link-name">Inventori</span>
                    </a>
                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <a class="nav-main-link" :href="route('user.inventory.index', {state : 'out'})">
                                <span class="nav-main-link-name">Pengiriman</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" :href="route('user.inventory.index', {state : 'in'})">
                                <span class="nav-main-link-name">Penerimaan</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" :href="route('user.inventory.location.index')">
                                <span class="nav-main-link-name">Lokasi & Pent</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" :href="route('user.inventory.vehicle.index')">
                                <span class="nav-main-link-name">Unit Armada</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" :href="route('user.inventory.cattle.index')">
                                <span class="nav-main-link-name">List Ternak</span>
                            </a>
                        </li>
                    </ul>
                </li>



                <li class="nav-main-item">
                    <a class="nav-main-link" href="be_pages_dashboard.html">
                        <i class="nav-main-link-icon fa fa-syringe"></i>
                        <span class="nav-main-link-name">Medical Check</span>
                    </a>
                </li>
                
                <li class="nav-main-item">
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
                        <i class="nav-main-link-icon fa fa-wallet"></i>
                        <span class="nav-main-link-name">Finance</span>
                    </a>
                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <a class="nav-main-link" :href="route('user.finance.index', {state : 'out'})">
                                <span class="nav-main-link-name">Pembayaran</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" :href="route('user.inventory.index', {state : 'in'})">
                                <span class="nav-main-link-name">Kas Operasional</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" :href="route('user.inventory.location.index')">
                                <span class="nav-main-link-name">Hutang & Piutang</span>
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
        <!-- END Header Content -->
    </header>
</template>
<script>
export default {
    name : 'base-header',
    methods : {
        logout(){

        }
    }
}
</script>