<template>
  <input ref="inputRef" />
</template>

<script>
import { useCurrencyInput } from 'vue-currency-input'

export default {
  name: 'CurrencyInput',
  props: {
    modelValue: Number,
    options: Object
  },
  setup() {
    const options = { 
        currency: 'IDR',
        locale : 'id-ID',
        symbol : 'Rp',
        currencyDisplay : "symbol",
        hideCurrencySymbolOnFocus : false,
        hideGroupingSeparatorOnFocus : false,
        hideNegligibleDecimalDigitsOnFocus : false,
        autoDecimalDigits : false,
        autoSign : false,
        useGrouping : true,
        accountingSign : true

    };
    const { inputRef } = useCurrencyInput(options)

    return { inputRef }
  }
}
</script>