<template>
    <div class="img-upload">
        <template v-if="cropImg">
            <div class="img-upload_wrapper" :style="{ 'height': height + 'px', 'width': width + 'px' }">
                <img class="img-fluid" :src="cropImg" />
            </div>
            <button type="button" class="btn-remove" @click.prevent="removeImage">
                <svg
                    viewBox="0 0 12.81 12.81" xmlns="http://www.w3.org/2000/svg" width="10"
                    height="10">
                    <g fill="none" stroke="#fff" stroke-linecap="round"
                        stroke-miterlimit="10" stroke-width="1.5">
                        <path d="m.75.75 5.66 5.66 5.65-5.66"></path>
                        <path d="m12.06 12.06-5.65-5.65-5.66 5.65"></path>
                    </g>
                </svg>
            </button>
        </template>
        <div v-else class="img-upload_wrapper" :style="{ 'height': height + 'px', 'width': width + 'px' }">
            <div class="img-upload_box">
                <input type="file" name="image" accept="image/*" @change="setImage">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true" role="img" font-size="1.5rem" class="iconify iconify--mdi" width="1em"
                    height="1em" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2Z"></path>
                </svg>
            </div>
        </div>
        <b-modal 
        id="modal-block-normal" 
        v-model="modalOpen" 
        body-class="p-0" 
        hide-footer hide-header 
        @hide.prevent :dialog-class="{'modal-dialog-slideup m-0' : $isMobile()}">
            <div class="block mb-0" :class="{'block-rounded-top' : $isMobile(), 'block-rounded' : !$isMobile()}">
                <div class="block-header border-3 border-bottom">
                    <h3 class="block-title">Sesuaikan Foto</h3>
                </div>
                <div class="block-content">
                    <vue-cropper ref="cropper" :aspect-ratio="ratio" :src="imgSrc"
                    :cropBoxResizable="true"/>
                </div>
                <div class="block-content block-content-full text-end border-top">
                    <b-button variant="danger" class="me-1" @click.prevent="close">Batal</b-button>
                    <b-button type="submit" variant="primary" @click.prevent="submitImage">Simpan</b-button>
                </div>
            </div>
        </b-modal>
    </div>
</template>
<script>

import VueCropper from "vue-cropperjs";
import "cropperjs/dist/cropper.css";
export default {
    name: 'image-upload',
    components: {
        VueCropper,
    },
    // props: ['image', 'height', 'width', 'imageWidth', 'imageHeight', 'ratio'],
    props : {
        ratio : {
            type : Number,
            default : 1/1
        },
        height : {
            type : Number,
            default : 65
        },
        width : {
            type : Number,
            default : 65
        }
    },
    data() {
        return {
            imgSrc: null,
            cropImg: this.image,
            filename: "",
            mimeType: "",
            modalOpen: false,
            heightWrap : null,
        };
    },
    watch: {
        image(value) {
            this.cropImg = value;
            if(value){
                this.heightWrap = '100%';
            }else{
                this.heightWrap = this.height+'px';
            }
        },
        cropImg(value){
            if(value){
                this.heightWrap = '100%';
            }else{
                this.heightWrap = this.height+'px';
            }
        }
    },
    computed : {
        wrapperClass(){
            return {
                'sidebar-r': this.$store.state.layout.sidebar && !this.$store.state.settings.sidebarLeft,
                'sidebar-mini': this.$store.state.layout.sidebar && this.$store.state.settings.sidebarMini,
                'sidebar-o':  this.$store.state.layout.sidebar && this.$store.state.settings.sidebarVisibleDesktop,
                'sidebar-t-xs': this.$store.state.layout.sidebar && this.$store.state.settings.sidebarVisibleMobile,
                'sidebar-dark': this.$store.state.layout.sidebar && this.$store.state.settings.sidebarDark,
                'side-overlay-o': this.$store.state.layout.sideOverlay && this.$store.state.settings.sideOverlayVisible,
                'side-overlay-hover': this.$store.state.layout.sideOverlay && this.$store.state.settings.sideOverlayHoverable,
                'enable-page-overlay': this.$store.state.layout.sideOverlay && this.$store.state.settings.pageOverlay,
                'page-header-fixed': this.$store.state.layout.header && this.$store.state.settings.headerFixed,
                'page-header-dark': this.$store.state.layout.header && this.$store.state.settings.headerDark,
                'main-content-boxed': this.$store.state.settings.mainContent === 'boxed',
                'main-content-narrow': this.$store.state.settings.mainContent === 'narrow',
                'rtl-support': this.$store.state.settings.rtlSupport,
                'side-trans-enabled': this.$store.state.settings.sideTransitions,
                'side-scroll': true
            }
        
        }
    },
    methods: {
        getHeightWrap(){
            if(this.cropImg){
                this.heightWrap = '100%';
            }else{
                this.heightWrap = this.height+'px';
            }
        },
        setImage(e) {
            const file = e.target.files[0];

            if (!file.type.includes('image/')) {
                alert('Please select an image file');
                return;
            }
            if (typeof FileReader === 'function') {
                const reader = new FileReader();

                reader.onload = (event) => {
                    this.imgSrc = event.target.result;
                    this.$refs.cropper.replace(event.target.result);
                };

                reader.readAsDataURL(file);
            } else {
                alert('Sorry, FileReader API not supported');
            }
            
            this.filename = file.name
            this.mimeType = file.type
            this.modalOpen = true;
            this.getHeightWrap();
        },
        cropImage() {
            this.cropImg = this.$refs.cropper.getCroppedCanvas({
                minWidth: this.imageWidth,
                minHeight: this.imageHeight,
                fillColor: '#fff',
                imageSmoothingEnabled: false,
                imageSmoothingQuality: 'high',
            }).toDataURL();
            this.getHeightWrap();
        },
        async dataURLToFile(imageString, filename, mimeType) {

            const res = await fetch(imageString);
            const blob = await res.blob();
            return new File([blob], filename, {
                type: mimeType
            });
        },
        async submitImage() {
            await this.cropImage();
            const imageFileResponse = await this.dataURLToFile(this.cropImg, this.filename, this.mimeType)
            this.$emit('change', imageFileResponse)
            this.modalOpen = false;

        },
        removeImage(){
            this.getHeightWrap();
            this.cropImg = null;
            this.$emit('removeImage', this.cropImg);
        },
        close(){
            this.cropImg = null;
            this.modalOpen = false;
            this.imimgSrc = null;
            this.$emit('close');
        }
    },
}
</script>