<template>
    <div class="form-group position-relative">
        <input :type="feildType" v-model="inputVal" v-bind:class="{'form-control':true, 'is-invalid' : error}" :id="id" autocomplete="on">
        <div class="password-icon">
            <i :class="iconType" @click="switchPassword"></i>
        </div>
        <div v-if="error" class="invalid-feedback">
            {{ error[0] }}
        </div>
    </div>
</template>
<style scoped>
.password-icon{
    top: 8.5px;
    right: 0.625rem;
    z-index: 10;
    width: 1.5rem;
    line-height: 1.3rem;
    height: 1.5rem;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
}
</style>
<script>
export default {
    name: 'password-input',
        props: {
            error : Array,
            value : String,
            id : String,
        },
        data() {
            return {
                feildType: "password",
                iconType : "fa fa-eye-slash",
            }
        },
        methods: {
            switchPassword() {
                this.feildType = this.feildType === 'password' ? 'text' : 'password'
                this.iconType = this.iconType === 'fa fa-eye-slash' ? 'fa fa-eye' : 'fa fa-eye-slash'
            }
        },
        
        computed: {
            inputVal: {
                get() {
                    return this.value;
                },
                set(val) {
                    this.$emit('input', val);
                }
            },
        }   
    }
</script>