// Color
$white:                     #fff !default;
$gray-100:                  #f8f9fa !default;
$gray-200:                  #e9ecef !default;
$gray-300:                  #dee2e6 !default;
$gray-400:                  #ced4da !default;
$gray-500:                  #adb5bd !default;
$gray-600:                  #6c757d !default;
$gray-700:                  #495057 !default;
$gray-800:                  #343a40 !default;
$gray-900:                  #212529 !default;
$black:                     #000 !default;

$primary:                   #0284c7 !default;
$secondary:                 $gray-600 !default;
$success:                   #65a30d !default;
$info:                      #0891b2 !default;
$warning:                   #d97706 !default;
$danger:                    #dc2626 !default;
$light:                     $gray-100 !default;
$dark:                      $gray-800 !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;


// Body
//
// Settings for the `<body>` element.
$body-bg:                   #f0f2f5 !default;
$body-color:                tint-color($gray-800, 5%) !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:      "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$font-size-root:              16px !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-xs:                $font-size-base * .75 !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;

$h1-font-size:                $font-size-base * 2.25 !default;
$h2-font-size:                $font-size-base * 1.875 !default;
$h3-font-size:                $font-size-base * 1.5 !default;
$h4-font-size:                $font-size-base * 1.25 !default;
$h5-font-size:                $font-size-base * 1.125 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      ($spacer * 1.375) !default;
$headings-font-family:        null !default;
$headings-font-weight:        600 !default;
$headings-line-height:        1.25 !default;

$text-muted:                  $gray-600 !default;

$hr-opacity:                  .1 !default;

// Main Navigation
$main-nav-link-icon-color:          rgba($primary, .7) !default;
$main-nav-link-hover-bg:            lighten($primary, 52%) !default;
$main-nav-submenu-bg:               lighten($primary, 56%) !default;

// $main-nav-link-icon-dark-color:     lighten($sidebar-dark-bg, 20%) !default;
// $main-nav-link-dark-hover-bg:       darken($sidebar-dark-bg, 4.5%) !default;
// $main-nav-submenu-dark-bg:          darken($sidebar-dark-bg, 3%) !default;

$main-nav-transition:               .2s cubic-bezier(0.250, 0.460, 0.450, 0.940) !default;


// Layout Spaces
$space-base:                1.75rem !default;                    // Content padding
$space-mobile:              .875rem !default;                    // Content padding in mobile
$space-side:                1.5rem !default;                   // Content padding in side sections
$space-row-gutter-tiny:     .375rem !default;                   // Row with tiny gutter, even number: 2, 4, 6.. etc
$space-block:               1.625rem !default;                    // Block padding
$space-boxed:               1260px !default;                    // Boxed content max width
$space-narrow:              92% !default;                       // Narrow content max width
$space-main-max-width:      1920px !default;                    // Main content max width