.datatable {
    --easy-table-border: none;
    // --easy-table-row-border: none;
  
    --easy-table-header-font-size: 13px;
    --easy-table-header-height: 45px;
    --easy-table-header-font-color: #4c4e64de;
    --easy-table-header-background-color: #f5f5f7;
    --easy-table-header-item-padding: 1rem;


    --easy-table-body-row-font-size: 14px;
    --easy-table-body-item-padding: 10px;
  }