//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Codebase functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

.nav-main-horizontal > .nav-main-item{
    border-radius: 8px;

    &:hover{
        background-color : $body-bg;
    }
}

@include media-breakpoint-up(md) {
    #page-container.header-multiple > #main-container {
        padding-top: $header-height*2 !important;
    }
}

@include media-breakpoint-down(sm) {
    #page-container.header-multiple > #main-container {
        padding-bottom: $header-height !important;
    }
}

// button, [type=button], [type=reset], [type=submit], [role=button] .span{
//     color: $white;
// }
.form-floating .append-icon {
    top: 18.5px;
}
.append-icon{
    top: 8.5px;
    right: 0.625rem;
    z-index: 10;
    width: 1.5rem;
    line-height: 1.3rem;
    height: 1.5rem;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
}

.plaintext{
    display: flex;
    margin-bottom: 8px;

    .label {
        font-size: 1rem;
        font-weight: 600;
        width: 35%;
    }

    .value{
        font-size:1rem;
        width: 75%;
    }
}

.trans_summ{
    display: flex;

    .label {
        font-weight : 600;
        text-align : right;
        width : 60%;
        padding: 0 5px;
    }
    .value {
        font-weight : 600;
        width : 240px;
        padding: 0 5px;
    }
}
@include media-breakpoint-down(sm) {
    .content {
        font-size: 14px !important;
    }

    .plaintext .label {
        font-size: 14px !important;
        font-weight: 600 !important;
        width: 40% !important;
    }

    .plaintext .value {
        text-align : right !important;
        font-size: 14px !important;
        font-weight: 400;
    }

    .trans_summ .label{
        font-weight : 600;
        font-size: 14px !important;
        text-align : left;
        width : 60%;
    }

    .trans_summ .value {
        text-align : right !important;
        font-size: 14px !important;
        font-weight: 400;
    }
}

.input-group.input-group-search{
    .btn-group:not(:last-child)>:not(:last-child){
        border-start-start-radius: 0.375rem;
        border-end-start-radius: 0.375rem;
    }

    .btn-group > .btn {
        background-color: $white;
        border : 1px solid #d8dde5;
        color: #3e444a;
    }
}

.img-upload {
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	background-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px;
	border-radius: 0px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	text-decoration: none;
	font-weight: 500;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	color: rgba(76, 78, 100, 0.6);
	max-width: 360px;
	min-width: 90px;
	position: relative;
	min-height: 48px;
	flex-shrink: 0;
	white-space: normal;
	text-align: center;
	flex-direction: column;
	line-height: 1.5;
	padding: 0rem;

	.img-upload_wrapper {
		position: relative;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: center;
		justify-content: center;
		flex-shrink: 0;
		font-size: 1.25rem;
		line-height: 1;
		overflow: hidden;
		user-select: none;
		border-radius: 8px;
		color: rgba(76, 78, 100, 0.6);
		width: 65px;
		height: 65px;
		background-color: transparent;
		border: 2px dashed rgba(76, 78, 100, 0.12);
	}
	.img-upload_box {
		width: 30px;
		height: 30px;
		display: flex;
		border-radius: 8px;
		-webkit-box-align: center;
		align-items: center;
		color: rgba(76, 78, 100, 0.54);
		-webkit-box-pack: center;
		justify-content: center;
		background-color: rgba(109, 120, 141, 0.12);
	}
	input {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		opacity: 0;
		cursor: pointer;
	}
	.btn-remove {
		position: absolute;
		padding: 0px 5px;
		top: -8px;
		right: 6px;
		color: #6c757d;
		background: red;
		border: none;
		cursor: pointer;
		border-radius: 50%;
		z-index: 2;
	}
}

.table tbody.sm > tr > td{
    padding : 0.3rem 0.75rem;
}


.table.editable tbody tr td{
    padding: 0.15rem 0.15rem;

    // > .form-control {
    //     border : none !important;
    //     border-radius : 0 !important;
    // }
    *:not(button,img) {
        border : none !important;
        border-radius : 0 !important;
    }
}


.block-trans {
    border-radius: 6px;
    margin-bottom: 10px !important;
}

.block-trans .block-content {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}


.bottom-sheet__content{
    height: 100% !important;
}


.btn-floating {    
    position: absolute;
    width: 55px;
    height: 55px;
    bottom: 80px;
    border-radius: 50%;
    right: 20px;
    margin: auto;
    color: white;
    line-height: 54px;
    text-align: center;
    z-index: 1002;
    cursor: pointer;
    transition: all 0.3s;
}


.cattle-img{
    display: block;
    border-radius: 8px;
    width: 100%;
    max-width: 120px;
    min-width: 120px;
    height: 100%;
    min-height: 120px;
    max-height: 120px;
    -o-object-fit: cover;
    object-fit: cover;
}

ul.cattle-meta {
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
ul.cattle-meta li {
  flex: 1 0 50%;
  padding-bottom: 5px
}