<template>
    <base-layout>
        <v-container>
            <v-sheet>
                
                <Bar :data="chartData" :options="chartOptions" />
            </v-sheet>
        </v-container>
    </base-layout>
</template>
<script>
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
} from 'chart.js'

import { Bar } from 'vue-chartjs'

ChartJS.register(CategoryScale, LinearScale, BarElement, Title, Tooltip, Legend)
export default {
    components: {
        Bar
    },
    props: {
        labels : Array,
        value : Array
    },
    data(){
        return {
            chartData: {
                labels: this.labels,
                datasets: [
                    {
                        label: 'Vendor Bill',
                        backgroundColor: '#f87979',
                        data: this.value
                    }
                ]
            },
            chartOptions: {
                responsive: true,
                maintainAspectRatio: false
            }
        }
    }
}
</script>