<template>
    <div class="row">
        <!-- Row #1 -->
        <div class="col-6 col-xl-3">
            <a class="block block-rounded block-link-shadow text-end" href="javascript:void(0)" :class="{'block-mode-loading-refresh block-mode-loading' : loading}">
                <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
                    <div class="d-none d-sm-block">
                        <i class="fa fa-shopping-bag fa-2x opacity-25"></i>
                    </div>
                    <div>
                        <div class="fs-3 fw-semibold">{{ data.purchase ?? 0}}</div>
                        <div class="fs-sm fw-semibold text-uppercase text-muted">Pembelian</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-xl-3">
            <a class="block block-rounded block-link-shadow text-end" href="javascript:void(0)" :class="{'block-mode-loading-refresh block-mode-loading' : loading}">
                <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
                    <div class="d-none d-sm-block">
                        <i class="fa fa-wallet fa-2x opacity-25"></i>
                    </div>
                    <div>
                        <div class="fs-3 fw-semibold">{{ data.sale ?? 0 }}</div>
                        <div class="fs-sm fw-semibold text-uppercase text-muted">Pesanan</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-xl-3">
            <a class="block block-rounded block-link-shadow text-end" href="javascript:void(0)" :class="{'block-mode-loading-refresh block-mode-loading' : loading}">
                <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
                    <div class="d-none d-sm-block">
                        <i class="far fa-cow fa-2x opacity-25"></i>
                    </div>
                    <div>
                        <div class="fs-3 fw-semibold">{{ data.cattle ?? 0 }}</div>
                        <div class="fs-sm fw-semibold text-uppercase text-muted">Ternak</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-xl-3">
            <a class="block block-rounded block-link-shadow text-end" href="javascript:void(0)" :class="{'block-mode-loading-refresh block-mode-loading' : loading}">
                <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
                    <div class="d-none d-sm-block">
                        <i class="fa fa-users fa-2x opacity-25"></i>
                    </div>
                    <div>
                        <div class="fs-3 fw-semibold">{{ data.customer ?? 0 }}</div>
                        <div class="fs-sm fw-semibold text-uppercase text-muted">Pelanggan</div>
                    </div>
                </div>
            </a>
        </div>
        <!-- END Row #1 -->
    </div>
</template>
<script>
import axios from 'axios';
export default {
    name : 'dashboard-counter',
    data(){
        return {
            loading : false,
            data : {},
        }
    },
    mounted(){
        this.fetchData();
    },
    methods :{
        async fetchData(){
            const self = this;
            let params = {
            }

            await axios.get(this.route("user.dashboard.counter"),{
                params: params
            })
            .then(function (response) {
                const resp = response.data;
                self.data = resp;
                self.loading = false;
            })
            .catch(function (error) {
                
            })
        },
    }
}
</script>