<template>
    <base-layout title="Dashboard" hideHeader>
        <div class="content">
            <DashboardCounter/>
            <div class="row">
                <div class="col-md-6">
                    <sale-chart/>
                </div>
                <div class="col-md-6">
                    <purchase-chart/>
                </div>
            </div>
        </div>
    </base-layout>
</template>
<script>
import DashboardCounter from './Counter';
import SaleChart from '../Sale/SaleChart';
import PurchaseChart from '../Purchase/PurchaseChart';
export default {
    components :{
        DashboardCounter,
        SaleChart,
        PurchaseChart
    },
    setup() {
        
    },
}
</script>