<template>
    <div>
        <div class="selected-cattle" v-if="selected">
            <div class="selected-info">
                <img :src="selected.image" class="tile-img"/>
                <div class="ps-3">
                    <h5 class="fs-5 fw-bold mb-0 mb-md-1">{{ selected.eartag }}
                        <small class="d-none d-sm-inline fw-normal ms-2">{{ selected.type }}</small>
                    </h5>
                    <p class="text-muted mb-0">
                        <i class="fa fa-map-pin me-1"></i> {{ selected.location }}<br>
                        <i class="fa fa-weight-scale"></i> {{  selected.weight }} Kg <br>
                        <i class="fa fa-venus-mars"></i> {{ selected.jk }}
                    </p>
                </div>
            </div>
            <div class="selected-options" v-if="!readonly">
                <button type="button" class="btn-block-option" @click.prevent="selected = null">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <template v-else>
            <div class="d-flex" v-if="scan">
                <button type="button" class="btn btn-outline-secondary w-50 mx-1" @click="openModal">
                    <i class="fa fa-fw fa-search me-1"></i>
                    Cari Ternak
                </button>
                <button type="button" class="btn btn-outline-secondary w-50 mx-1" @click="openScanner = true">
                    <i class="fa fa-barcode me-1"></i>
                    Scan Ternak
                </button>
            </div>
            <button type="button" class="btn btn-outline-secondary w-100" @click="openModal" v-else>
                <i class="fa fa-fw fa-search me-1"></i>
                Cari Ternak
            </button>
        </template>
        <b-modal v-model="modal" size="lg" body-class="p-0" hide-footer hide-header @hide.prevent :dialog-class="{'modal-dialog-slideup m-0' : $isMobile()}">
            <div class="block mb-0" :class="{'block-rounded-top' : $isMobile(), 'block-rounded' : !$isMobile()}">
                <div class="block-header">
                    <h3 class="block-title">Cari Ternak</h3>
                    <div class="block-options">
                      <button type="button" class="btn-block-option" @click.prevent="modal = false">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                </div>
                <div class="block-content p-3">
                    <div class="row g-0 g-md-1">
                        <div class="col-md-6" v-for="d in data" :key="d.id">
                            <a class="block block-bordered block-link-shadow block-rounded mb-2 mb-md-0" href="javascript:void(0)" @click="onSelect(d)">
                                <div class="block-content d-flex p-2">
                                    <img :src="d.image" class="tile-img"/>
                                    <div class="ps-3">
                                        <h5 class="fs-6 fs-md-5 fw-bold mb-1 mb-md-2">{{ d.eartag }}
                                            <small class="fs-md-sm fw-normal ms-2">{{ d.type }}</small>
                                        </h5>
                                        <p class="text-muted mb-0">
                                            <i class="fa fa-map-pin me-1"></i> {{ d.location }}<br>
                                            <i class="fa fa-weight-scale"></i> {{  d.weight }} Kg <br>
                                            <i class="fa fa-venus-mars"></i> {{ d.jk }}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>
        <b-modal
         v-model="openScanner" body-class="p-0" hide-footer hide-header @hide.prevent :dialog-class="{'modal-dialog-slideup m-0' : $isMobile()}">
            <div class="block mb-0" :class="{'block-rounded-top' : $isMobile(), 'block-rounded' : !$isMobile()}">
                <div class="block-header">
                    <h3 class="block-title">Scan QR Code</h3>
                    <div class="block-options">
                      <button type="button" class="btn-block-option" @click.prevent="openScanner = false">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                </div>
                <div class="block-content p-3">
                    <qrcode-stream :camera="camera" @decode="onDecode" @init="onInit">
                        <!-- <button @click="switchCamera" class="btn btn-primary btn-switch">
                            Ubah Kamera
                        </button> -->
                    </qrcode-stream>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<style scoped>

.selected-cattle{
    display: flex;
    justify-content: space-between;
}
.selected-info{
    display: flex;
}
 .tile-img{
    display: block;
    border-radius: 8px;
    width: 100%;
    max-width: 110px;
    min-width: 110px;
    height: 100%;
    min-height: 110px;
    max-height: 110px;
    object-fit: cover;
 }
 .tile-img{
    display: block;
    border-radius: 8px;
    width: 100%;
    max-width: 110px;
    min-width: 110px;
    height: 100%;
    min-height: 110px;
    max-height: 110px;
    object-fit: cover;
 }
 @media (max-width: 575.98px) {
 .tile-img{
    display: block;
    border-radius: 8px;
    width: 100%;
    max-width: 100px;
    min-width: 100px;
    height: 100%;
    min-height: 100px;
    max-height: 100px;
    object-fit: cover;
 }
 }
</style>
<script>

import _ from 'lodash';
import axios from 'axios';
import { QrcodeStream, CaptureFrame } from "vue3-qrcode-reader";
export default {
    name : 'cattle-select',
    components : {
        QrcodeStream,
    },
    props : {
        error : String,
        value : Number,
        size : String,
        readonly : {
            type : Boolean,
            default : false,
        },
        scan : {
            type : Boolean,
            default : false,
        }
    },
    computed : {
        sizeclass(){
            if (this.size == 'sm'){
                return 'sm'
            }else if(this.size == 'lg'){
                return 'lg'
            }
            return ''
        }
    },
    data(){
        return {
            openScanner : false,
            modal : false,
            data : [],
            selected : this.value,
            search : null,
            scanned : null,
            camera: 'auto',
        }
    },
    mounted(){
        if(this.value){
            this.getSelection(this.value);
        }
    },
    watch :{
        value(val){
            if(val){
                this.getSelection(val);
            }else{
                this.selected = null;
            }
        },
        selected(val){
            if(val){
                this.$emit('change', val);
            }
        }
    },
    methods :{
        openModal(){
            this.modal = true;
            this.getSelection();
        },
        onSelect(e){
            this.modal = false;
            this.selected = e;
            this.$emit('change', e);
        },
        onSearch(search, loading) {
            if(search.length) {
                this.search = search;
                this.getSelection();
            }
        },
        async getSelection(id = null, type = null){
            const self = this;
            var params = {};
            if(type == 'code'){
                let first = {
                    code : id,
                    limit : 1
                }
                params = Object.assign(params, first)
            }else if(id != null){
                let first = {
                    id : id,
                    limit : 1
                }
                params = Object.assign(params, first)
            }
            if(this.search){
                let search = {
                    search : this.search
                }
                params = Object.assign(params, search)
            }
            await axios.get(this.route("user.inventory.cattle.data"), {
                params
            })
            .then(function (response) {
                const resp = response.data;
                if(id){
                    if(resp){
                        self.selected = resp;
                        this.$emit('change', resp);
                    }
                }else{
                    self.data = resp;
                }
            })
            .catch(function (error) {
                
            })
        },
        async onDecode(result) {
            // console.log(result);
            this.getSelection(result, 'code');
            this.camera = 'off';
            await this.timeout(500);
            this.camera = 'auto';
            this.openScanner = false;
        },
        async onInit (promise) {
            try {
                await promise
            } catch (error) {
                if (error.name === 'NotAllowedError') {
                this.error = "ERROR: you need to grant camera access permission"
                } else if (error.name === 'NotFoundError') {
                this.error = "ERROR: no camera on this device"
                } else if (error.name === 'NotSupportedError') {
                this.error = "ERROR: secure context required (HTTPS, localhost)"
                } else if (error.name === 'NotReadableError') {
                this.error = "ERROR: is the camera already in use?"
                } else if (error.name === 'OverconstrainedError') {
                this.error = "ERROR: installed cameras are not suitable"
                } else if (error.name === 'StreamApiNotSupportedError') {
                this.error = "ERROR: Stream API is not supported in this browser"
                } else if (error.name === 'InsecureContextError') {
                this.error = 'ERROR: Camera access is only permitted in secure context. Use HTTPS or localhost rather than HTTP.';
                } else {
                this.error = `ERROR: Camera error (${error.name})`;
                }
            }
        },    
        unpause () {
            this.camera = 'auto'
        },
        pause () {
            this.camera = 'off'
        },
        timeout (ms) {
            return new Promise(resolve => {
                window.setTimeout(resolve, ms)
            })
        }
    },
}
</script>