<template>
    <base-layout title="List Ternak">
        <div class="content">
            <div class="content-heading d-flex justify-content-between align-items-center" v-if="!$isMobile()">
                <span>
                    List Ternak
                </span>
            </div>
            <div class="block"  v-if="!$isMobile()">
                <div class="block-content">

                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-6" v-for="d in dataList" :key="d.id">
                    <a class="block block-rounded block-link-shadow mb-0" href="#">
                        <div class="block-content d-flex p-2">
                            <img :src="d.image" class="tile-img"/>
                            <div class="ps-3 w-100 my-auto">
                                <h2 class="fs-5 fw-bold mb-2">{{ d.eartag }} <small class="fw-normal">{{  d.type }}</small></h2>
                                <ul class="tile-meta">
                                    <li>
                                        <i class="fa fa-map-pin me-1"></i> {{ d.location }}
                                    </li>
                                    <li>
                                        <i class="fa fa-weight-scale"></i> {{  d.weight }} Kg <br>
                                    </li>
                                    <li>
                                        <i class="fa fa-venus-mars"></i> {{ d.jk }}
                                    </li>
                                    <li>
                                        <i class="fa fa-heart"></i> {{  (d.kondisi) ? 'Sehat' : 'Sakit' }}
                                    </li>
                                    <li v-if="d.investor">
                                        <i class="fa fa-user"></i> {{  d.investor }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </base-layout>
</template>
<style scoped>
.tile-img{
    display: block;
    border-radius: 8px;
    width: 100%;
    max-width: 120px;
    min-width: 120px;
    height: 100%;
    min-height: 120px;
    max-height: 120px;
    -o-object-fit: cover;
    object-fit: cover;
}

ul.tile-meta {
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
ul.tile-meta li {
  flex: 1 0 50%;
  padding-bottom: 5px
}

.tile-paginate{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: normal;
    align-content: normal;
    row-gap: normal;
    column-gap: normal;
}
</style>
<script>
export default {
    setup() {
        
    },
    data () {
      return {
        dataList: [],
        dataTotal : 0,
        loading: false,
        options: {},
        options :{
            page: 1,
            rowsPerPage: 5,
            sortBy: 'name',
            sortType: 'desc',
        }
      }
    },
    created(){
        this.fetchData();
    },  
    methods: {
        async fetchData(page = 1){
            const self = this;
            let params = {
                page : page,
                limit : this.options.rowsPerPage,
                sort : this.options.sortBy,
                sortDir : this.options.sortType
            }

            await axios.get(this.route("user.inventory.cattle.data"),{
                params: params
            })
            .then(function (response) {
                const resp = response.data;
                self.dataList = resp.data;
                self.dataTotal = resp.total;
                self.loading = false;
            })
            .catch(function (error) {
                
            })
        },
        remove(id){
            this.$swal.fire({
                icon: 'warning',
                title: 'Kamu Yakin?',
                text: `Data yang dihapus tidak bisa kembali!`,
                showCancelButton: true,
                cancelButtonText: 'Tidak, Batal',
                confirmButtonText: 'Ya, Hapus!',
            }).then((result) => {
                if (result.isConfirmed) {
                    this.$inertia.delete(this.route('user.purchase.supplier.delete', {id : id}), {
                        preserveScroll: true
                    })
                }
            })
        },
    },
}
</script>