<template>
    <base-layout :title="title" hideFooter>
        <form @submit.prevent="submit">
            <div class="content">
                <div class="content-heading d-flex justify-content-between align-items-center" v-if="!$isMobile()">
                    <span>
                        {{ title }}
                    </span>
                    <div class="d-flex">
                        <a :href="route('user.inventory.location.index')" class="btn btn-sm btn-danger me-1">
                            <i class="fa fa-fw fa-times me-1"></i>
                            Batal
                        </a>
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-fw fa-check me-1"></i>
                            Simpan
                        </button>
                    </div>
                </div>
                <div class="block block-rounded block-fx-shadow">
                    <div class="block-content p-3">
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="input-ref">Tanggal</label>
                            </div>
                            <div class="col-md-6">
                                <flat-pickr class="bg-white form-control form-control-sm" :config="dateConfig" :class="{'is-invalid' : errors.date}" v-model="form.date"></flat-pickr>
                                <div class="invalid-feedback" v-if="errors.date">{{ errors.date }}</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="input-code">Pilih Ternak</label>
                            </div>
                            <div class="col-md-6">
                                <cattle-select :value="form.cattle_id"  @change="cattle => form.cattle_id = cattle.id" scan/>
                                <div class="invalid-feedback" v-if="errors.code">{{ errors.code }}</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="input-name">Kondisi</label>
                            </div>
                            <div class="col-md-6">
                                <b-form-radio-group id="radio-group-2" v-model="form.condition" name="radio-sub-component">
                                    <b-form-radio value="Sehat">Sehat</b-form-radio>
                                    <b-form-radio value="Sakit">Sakit</b-form-radio>
                                </b-form-radio-group>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="input-name">Berat</label>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input type="number" class="form-control" min="1" v-model="form.weight">
                                    <span class="input-group-text">Kg</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="input-description">Keterangan</label>
                            </div>
                            <div class="col-md-6">
                                <textarea class="form-control" v-model="form.description"></textarea>
                                <div class="invalid-feedback" v-if="errors.description">{{ errors.description }}</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="input-description">Foto</label>
                            </div>
                            <div class="col-md-6">
                                <image-upload @change="e => form.image = e" :height="95" :width="95"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-nav-area" v-if="$isMobile()">
                <div class="content">
                    <div class="row">
                        <div class="col-6">
                            <a :href="route('user.purchase.index')" class="btn btn-danger me-1 w-100">
                                <i class="fa fa-fw fa-times me-1"></i>
                                Batal
                            </a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary w-100">
                                <i class="fa fa-fw fa-check me-1"></i>
                                Simpan
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </base-layout>
</template>
<script>
import ImageUpload from '@/Components/Form/ImageUpload';
import CattleSelect from '../Cattle/CattleSelect.vue';
import flatPickr from 'vue-flatpickr-component';
export default {
    components :{
        ImageUpload,
        CattleSelect,
        flatPickr
    },
    props :{
        errors : Object,
        editMode : Boolean,
        data : Object,
    },
    data () {
      return {
        title : 'Tambah Cek Kesehatan',
        form : {
            id : null,
            cattle_id : null,
            date : new Date(),
            condition : 'Sehat',
            description : null,
            image : null,
        },
        loading: false,
        dateConfig: {
            altFormat: 'j F Y H:i',
            altInput: true,
            dateFormat: 'Y-m-d H:i',
            showMonths: 1,
            enableTime: true,
            time_24hr: true,
            disableMobile : true
        },
      }
    },
    methods : {
        submit(){
            this.loading = true;
            let form = this.$inertia.form(this.form)
            let url = this.editMode ? this.route("user.medical.update", {id : this.form.id}) : this.route("user.medical.store");
            form.post(url, {
                preserveScroll: true,
                onSuccess: () => {
                    this.$bvToast.toast(this.$page.props.flash.message, {
                        autoHideDelay: 15000,
                    });
                },
                onFinish : () => {
                    this.loading = false;
                    this.reset();
                    this.fetchData();
                }
            });
        }
    }
}
</script>