<template>
    <base-layout title="Cek Kesehatan">
        <div class="content" v-if="$isMobile()">
            <a v-for="(d, i) of dataList" :key="i" class="block block-trans" :href="route('user.medical.show', { id : d.id })">
                <div class="block-content d-flex p-2">
                    <img :src="d.image" class="cattle-img"/>
                    <div class="ps-3 w-100 my-auto">
                        <h2 class="fs-5 fw-bold mb-2">{{ d.eartag }} <small class="fw-normal">{{  d.type }}</small></h2>
                        <ul class="cattle-meta">
                            <li>
                                <i class="fa fa-map-pin me-1"></i> {{ d.location }}
                            </li>
                            <li>
                                <i class="fa fa-weight-scale"></i> {{  d.weight }} Kg <br>
                            </li>
                            <li>
                                <i class="fa fa-venus-mars"></i> {{ d.jk }}
                            </li>
                            <li>
                                <i class="fa fa-heart"></i> {{  (d.status) }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="block-content border-top border-2x">
                    <div class="d-flex">
                        <div class="fs-6 fw-normal mb-0">{{ date(d.date) }}</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="content" v-else>
            <div class="content-heading d-flex justify-content-between align-items-center">
                <span>
                    Riwayat Cek Kesehatan
                </span>
                <div class="space-x-1">
                    <a :href="route('user.medical.create')" class="btn btn-sm btn-primary">
                        <i class="fa fa-plus me-1"></i>
                        <span>Tambah Cek Kesehatan</span>
                    </a>
                </div>
            </div>
            <div class="block">
                <div class="block-content p-0">
                    <EasyDataTable
                        v-model:server-options="options"
                        :server-items-length="dataTotal"
                        :loading="loading"
                        :headers="headers"
                        :items="dataList"
                        table-class-name="datatable"
                    >
                    <template #item-date="item">
                        {{ date(item.date) }}
                    </template>
                    <template #item-weight="item">
                        {{ item.weight }} Kg
                    </template>
                    <template #item-cattle="item">
                        <div class="d-flex p-2">
                            <img :src="item.image" class="cattle-img"/>
                            <div class="ps-3 w-100 my-auto">
                                <h2 class="fs-5 fw-bold mb-2">{{ item.eartag }} <small class="fw-normal">{{  item.type }}</small></h2>
                                <ul class="tile-meta">
                                    <li>
                                        <i class="fa fa-map-pin me-1"></i> {{ item.location }}
                                    </li>
                                    <li>
                                        <i class="fa fa-venus-mars"></i> {{ item.jk }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </template>
                    <template #item-options="item">
                        <a  class="btn btn-sm btn-alt-secondary me-1" :href="route('user.medical.edit', {id : item.id})">
                            <i class="fa fa-pen-to-square"></i>
                        </a>
                        <button  class="btn btn-sm btn-alt-secondary me-1" @click.prevent="remove(item.id)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </template>
                    </EasyDataTable>
                </div>
            </div>
        </div>
        <div class="floating-container" v-if="$isMobile()">
            <a :href="route('user.medical.create')" class="btn btn-primary btn-floating">
                <i class="fa fa-plus fa-2x"></i>
            </a>
        </div>
    </base-layout>
</template>
<style scoped>
.cattle-img{
    max-width: 85px;
    min-width: 85px;
    min-height: 85px;
    max-height: 85px;  
}
</style>
<script>
import EasyDataTable from 'vue3-easy-data-table';
import moment from 'moment';
export default {
    components : {
        EasyDataTable
    },
    data () {
      return {
        dataList: [],
        dataTotal : 0,
        loading: false,
        options: {},
        currentPage : 1,
        headers: [
            { text: "TERNAK", value: "cattle", width : 350},
            { text: "STATUS", value: "status"},
            { text: "BERAT", value: "weight"},
            { text: "TANGGAL", value: "date"},
            { text: "KETERANGAN", value: "description"},
            { text: "AKSI", value: "options", width : 135},
        ],
        options :{
            page: 1,
            rowsPerPage: 5,
            sortBy: 'name',
            sortType: 'desc',
        }
      }
    },
    created(){
        this.fetchData();
    },  
    methods: {
        date(value){
            if (value) {
                return moment(String(value)).format('DD MMMM YYYY hh:mm')
            }
        },
        async fetchData(page = 1){
            const self = this;
            let params = {
                type : 'in',
                page : page,
                limit : this.options.rowsPerPage,
                sort : this.options.sortBy,
                sortDir : this.options.sortType
            }

            await axios.get(this.route("user.medical.data"),{
                params: params
            })
            .then(function (response) {
                const resp = response.data;
                self.dataList = resp.data;
                self.dataTotal = resp.total;
                self.loading = false;
            })
            .catch(function (error) {
                
            })
        },
        remove(id){
            this.$swal.fire({
                icon: 'warning',
                title: 'Kamu Yakin?',
                text: `Data yang dihapus tidak bisa kembali!`,
                showCancelButton: true,
                cancelButtonText: 'Tidak, Batal',
                confirmButtonText: 'Ya, Hapus!',
            }).then((result) => {
                if (result.isConfirmed) {
                    this.$inertia.delete(this.route('user.medical.delete', {id : id}), {
                        preserveScroll: true
                    })
                }
            })
        },
    },
}
</script>