<template>
    <base-layout title="Detail Kesehatan">
        <div class="content">
            <div class="block block-bordered rounded-3">
                <div class="block-content p-3">
                    <div class="plaintext">
                        <div class="label">Tanggal</div>
                        <div class="value">{{  date(data.date) }}</div>
                    </div>
                    <div class="plaintext">
                        <div class="label">Berat</div>
                        <div class="value">{{  data.weight }} Kg</div>
                    </div>
                    <div class="plaintext">
                        <div class="label">Kondisi</div>
                        <div class="value">{{  data.status }}</div>
                    </div>
                    <div class="plaintext">
                        <div class="label">Keterangan</div>
                        <div class="value">{{  data.description }}</div>
                    </div>
                </div>
            </div>
            <div class="block block-bordered rounded-3">
                <div class="block-content d-flex p-2">
                    <img :src="data.image" class="cattle-img"/>
                    <div class="ps-3 w-100 my-auto">
                        <h2 class="fs-5 fw-bold mb-2">{{ data.eartag }} <small class="fw-normal">{{  data.type }}</small></h2>
                        <ul class="cattle-meta">
                            <li>
                                <i class="fa fa-map-pin me-1"></i> {{ data.location }}
                            </li>
                            <li>
                                <i class="fa fa-venus-mars"></i> {{ data.jk }}
                            </li>
                            <li v-if="data.investor">
                                <i class="fa fa-user"></i> {{  data.investor }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </base-layout>
</template>
<script>
import moment from 'moment';
export default {
    props :{
        data : Object,
    },
    methods: {
        date(value){
            if (value) {
                return moment(String(value)).format('DD MMMM YYYY hh:mm')
            }
        },
    },
}
</script>