<template>
    <base-layout title="Pengaturan">
        <div class="content">
            <div class="my-5 text-center" v-if="!$isMobile()">
                <h2 class="fw-bold mb-2">Pengaturan</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="block block-bordered block-rounded block-shadow">
                        <div class="block-content p-3">
                            <div class="d-flex">
                                <img class="img-avatar img-avatar96 img-avatar-thumb" :src="$page.props.user.avatar" alt="">
                                <div class="ps-md-3 my-auto">
                                    <h2 class="fs-5 fs-md-3 mb-0">{{ $page.props.user.name }}</h2>
                                    <h4 class="fs-6 fs-md-3 fw-normal mb-0 text-muted">{{ $page.props.user.email }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block block-rounded block-shadow block-bordered">
                        <a :href="d.route" class="block-content settings-row" v-for="(d, i) in data" :key="i">
                            <div class="settings-icon">
                                <img :src="d.icon_src" alt="profile" v-if="d.icon_type == 'image'">
                            </div>
                            <div class="settings-desc text-mute">
                                <div class="settings-title text-black">{{ d.title }}</div>
                                <span class="text-muted" v-if="!$isMobile()">{{ d.sub_title }}</span>
                            </div>
                        </a>
                    </div>
                    
                    <Link :href="route('logout')" method="post" as="button" class="btn btn-danger btn-lg w-100">
                        <i class="si si-logout me-1"></i>
                        Log out
                    </Link>
                </div>
            </div>
        </div>
    </base-layout>
</template>
<style lang="scss">
.settings-row{
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    padding: 16px 20px;
    border-bottom: 1px solid #e4e7ed;

    &:last-child { border-bottom: none;  }

    .settings-icon {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin-right: 16px;

        img{
            filter: invert(0%) sepia(6%) saturate(26%) hue-rotate(336deg) brightness(103%) contrast(100%);
            width: 24px;
            max-width: 24px;
            height: 24px;
        }
    }

    .settings-desc{

        .settings-title{
            -webkit-font-smoothing: antialiased;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
        }
    }
}
</style>
<script>
import _ from 'lodash';
import moment from 'moment';
import { Link } from '@inertiajs/vue3';
export default {
    components : {
        Link
    },  
    data(){
        return {
            title : 'Tambah Alamat Baru',
        }
    },
    props: {
        data : Array,
    },
    methods :{
        onSearch(search, loading) {
            if(search.length) {
                loading(true);
                this.search(loading, search, this);
            }
        },
        format_date(value){
            if (value) {
                moment.locale('id');
                return moment(String(value)).format('DD MMMM YYYY h:mm')
            }
        },
        timeout(value){
            moment.locale('id');
            var created  = moment(String(value));
            return moment(created).format('DD MMM YYYY h:mm');
        },
    }
 }

</script>
