<template>
    <base-layout title="Ubah Password" hideFooter>
        <div class="content">
            <div class="my-5 text-center" v-if="!$isMobile()">
                <h2 class="fw-bold mb-2">Pengaturan</h2>
                <h3 class="h5 text-muted mb-0">Ubah Password</h3>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="block block-rounded block-shadow block-bordered">
                        <div class="block-content p-3">
                            <form @submit.prevent="submit">
                                <div class="mb-2">
                                    <label for="reset-password">Password Saat Ini</label>
                                    <password-input :value="form.password" :error="errors.password" @input="(value) => form.password = value" id="reset-password"/>
                                </div>
                                <div class="mb-2">
                                    <label for="reset-new_password">Password Baru</label>
                                    <password-input :value="form.new_password" :error="errors.new_password" @input="(value) => form.new_password = value" id="reset-new_password"/>
                                </div>
                                <div class="mb-2">
                                    <label for="field-new_password_confirm">Konfirmasi Password Baru</label>
                                    <password-input :value="form.new_password_confirm" :error="errors.new_password_confirm" @input="(value) => form.new_password_confirm = value" id="reset-new_password_confirm"/>
                                </div>
                                <div class="mb-2">
                                    <button type="submit" class="btn btn-primary w-100">
                                        Simpan
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </base-layout>
</template>
<script>
import PasswordInput from '@/Components/Form/PasswordInput';
export default {
    components :{
        PasswordInput
    },
    props : {
        errors : Object
    },
    data(){
        return {
            form : {
                password : null,
                new_password : null,
                new_password_confirm : null,
            }
        }
    },
    methods: {

    },

}
</script>