<template>
    <base-layout title="Profil" hideFooter>
        <div class="content">
            <div class="my-5 text-center" v-if="!$isMobile()">
                <h2 class="fw-bold mb-2">Pengaturan</h2>
                <h3 class="h5 text-muted mb-0">Ubah Profil Biodata</h3>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="block block-rounded block-fx-shadow block-bordered">
                        <div class="block-content block-content-full">
                            <form @submit.prevent="submit">
                                <div class="mb-2">
                                    <label for="field-name">Nama Lengkap</label>
                                    <input type="text" :class="{'is-invalid' : errors.name}" id="field-name" class="form-control" v-model="form.name" >
                                    <div v-if="errors.name" class="invalid-feedback">
                                        {{ errors.name }}
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <label for="field-username">Username</label>
                                    <input type="text" :class="{'is-invalid' : errors.username}" id="field-username" class="form-control" v-model="form.username" >
                                    <div v-if="errors.username" class="invalid-feedback">
                                        {{ errors.username }}
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <label for="field-email">Alamat Email</label>
                                    <input type="email" :class="{'is-invalid' : errors.email}" id="field-email" class="form-control" v-model="form.email" >
                                    <div v-if="errors.email" class="invalid-feedback">
                                        {{ errors.email }}
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <label for="field-phone">No Handphone</label>
                                    <input type="text" :class="{'is-invalid' : errors.phone}" id="field-phone" class="form-control" v-model="form.phone" >
                                    <div v-if="errors.phone" class="invalid-feedback">
                                        {{ errors.phone }}
                                    </div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary w-100">
                                    <i class="si si-check mr-1"></i>
                                    Simpan
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </base-layout>
</template>
<script>
export default {
    props : {
        data : Object,
        errors : Object
    },
    data(){
        return {
            form : {
                id : this.data.id,
                name: this.data.name,
                username: this.data.username,
                email: this.data.email,
                phone: this.data.phone,
            },
        }
    },
}
</script>