<template>
    <base-layout title="Tambah Pembelian" hideFooter>
        <form @submit.prevent="submit">
            <div class="content">
                <div class="content-heading d-flex justify-content-between align-items-center pt-0" v-if="!$isMobile()">
                    <span>
                        {{ title }}
                    </span>
                    <div class="d-flex">
                        <a :href="route('user.purchase.index')" class="btn btn-sm btn-danger me-1">
                            <i class="fa fa-fw fa-times me-1"></i>
                            Batal
                        </a>
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-fw fa-check me-1"></i>
                            Simpan
                        </button>
                    </div>
                </div>
                <div class="block block-bordered block-shadow block-rounded">
                    <div class="block-content p-3">
                        <div class="row">
                            <div class="col-md-6">
                                
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-supplier">Supplier</label>
                                    </div>
                                    <div class="col-md-8">
                                        <supplier-select v-model="form.supplier_id" size="sm" :error="errors.supplier_id"/>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-ref">No Referensi</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm" :class="{'is-invalid' : errors.ref}" id="input-ref" v-model="form.ref" >
                                        <div id="input-ref" class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-ref">Tanggal</label>
                                    </div>
                                    <div class="col-md-8">
                                        <flat-pickr class="bg-white form-control form-control-sm" :config="dateConfig" :class="{'is-invalid' : errors.date}" v-model="form.date"></flat-pickr>
                                        <div class="invalid-feedback" v-if="errors.date">{{ errors.date }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-ref">Jatuh Tempo</label>
                                    </div>
                                    <div class="col-md-8">
                                        <flat-pickr class="bg-white form-control form-control-sm" :config="dueConfig" :class="{'is-invalid' : errors.due_date}" v-model="form.due_date"></flat-pickr>
                                        <div class="invalid-feedback" v-if="errors.due_date">{{ errors.due_date }}</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-ref">Lokasi Penerimaan</label>
                                    </div>
                                    <div class="col-md-8">
                                        <location-select v-model="form.location_id" size="md" :error="errors.location_id"/>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-ref">Jadwal Penerimaan</label>
                                    </div>
                                    <div class="col-md-8">
                                        <flat-pickr class="bg-white form-control form-control-sm" :config="dueConfig" :class="{'is-invalid' : errors.schedule_date}" v-model="form.schedule_date"></flat-pickr>
                                        <div class="invalid-feedback" v-if="errors.schedule_date">{{ errors.schedule_date }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block-content pt-0 p-3">
                        <template v-if="$isMobile()">
                            <h3 class="mb-2 fs-5">List Pembelian</h3>
                            <div class="block block-bordered rounded-2 mb-2" v-for="(line, index) in lines" :key="index">
                                <div class="block-content d-flex justify-content-between p-2">
                                    <div class="text-left">
                                        <div class="fw-semibold fs-6">{{ line.type }}</div>
                                        <div class="fs-sm">
                                            {{ line.jk }}
                                        </div>
                                        <div class="fs-sm">
                                            {{ date(line.dob)}}
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <template v-if="line.investor_id">
                                            <div class="fw-semibold fs-6">{{ line.investor }}</div>
                                            <div class="fs-sm">
                                                <span>Bagi Hasil : </span>
                                                <span class="ms-1">{{ line.persentase }}%</span>
                                            </div>
                                            <div class="fs-sm">
                                                <span class="ms-1">{{ date(line.mou_date) }}</span>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                                <div class="block-content border-top border-2 p-2">
                                    <div class="d-flex justify-content-between">
                                        <div class="text-start fs-6">
                                            {{ line.weight }} Kg
                                        </div>
                                        <div class="text-end fw-bold fs-6">
                                            {{ currency(line.price) }}
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <button  class="btn btn-alt-secondary btn-secondary btn-sm me-1 w-50" @click.prevent="editLine(index)">
                                            <i class="fa fa-pen-to-square me-1"></i> Edit
                                        </button>
                                        <button  class="btn btn-sm btn-alt-secondary w-50" @click.prevent="removeLine(index)">
                                            <i class="fa fa-trash-can me-1"></i> Hapus
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-sm btn-primary w-100 mb-3" @click.prevent="addLines">
                                <i class="fa-regular fa-plus me-1"></i>
                                Tambah
                            </button>

                        </template>
                        <table class="table table-vcenter table-bordered editable" id="pembelian_table" v-else>
                            <thead class="bg-body">
                                <tr>
                                    <th width="30%">Jenis Ternak</th>
                                    <th width="30%">Investor</th>
                                    <th width="15%">Berat</th>
                                    <th width="15%">Harga</th>
                                    <th width="10%">
                                        <button  class="btn btn-sm btn-primary" @click.prevent="addLines" v-tippy="'Tambah!'">
                                            <i class="fa-regular fa-plus me-1"></i>
                                            Tambah
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="lines.length">
                                    <tr v-for="(line, index) in lines" :key="index">
                                        <td>
                                            <div class="fw-bold fs-6">{{ line.type }}</div>
                                            <div class="fs-sm">
                                                {{ line.jk }}
                                            </div>
                                            <div class="fs-sm">
                                                {{ date(line.dob)}}
                                            </div>
                                        </td>
                                        <td>
                                            <template v-if="line.investor_id">
                                                <div class="fw-bold fs-6">{{ line.investor }}</div>
                                                <div class="fs-sm">
                                                    <span>MoU :</span>
                                                    <span class="ms-1">{{ date(line.mou_date) }}</span>
                                                </div>
                                            </template>
                                        </td>
                                        <td>
                                            {{ line.weight }} Kg
                                        </td>
                                        <td>
                                        {{ currency(line.price) }}
                                        </td>
                                        <td class="text-center">
                                            <button  class="btn btn-alt-secondary btn-secondary btn-sm me-1" @click.prevent="editLine(index)" v-tippy="'Edit!'">
                                                <i class="fa fa-pen-to-square"></i>
                                            </button>
                                            <button  class="btn btn-sm btn-alt-secondary" @click.prevent="removeLine(index)" v-tippy="'Hapus!'">
                                                <i class="fa fa-trash-can"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                        <div class="justify-content-md-between row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                <div class="trans_summ">
                                    <div class="label">Total</div>
                                    <div class="value">{{ currency(form.total) }}</div>
                                </div>
                                <div class="trans_summ">
                                    <div class="label">Discount</div>
                                    <div class="value">{{ currency(form.discount_amount) }}</div>
                                </div>
                                <div class="trans_summ">
                                    <div class="label">Grand Total</div>
                                    <div class="value">{{ currency(form.grand_total) }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="footer-nav-area" v-if="$isMobile()">
                    <div class="content">
                        <div class="row">
                            <div class="col-6">
                                <a :href="route('user.purchase.index')" class="btn btn-danger me-1 w-100">
                                    <i class="fa fa-fw fa-times me-1"></i>
                                    Batal
                                </a>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary w-100">
                                    <i class="fa fa-fw fa-check me-1"></i>
                                    Simpan
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <b-modal 
            size="lg" 
            id="modal-block-normal" 
            v-model="isOpen" 
            body-class="p-0" 
            hide-footer hide-header
            @hide.prevent :dialog-class="$isMobile() ? 'modal-dialog-slideup m-0' : ''"
            >
            <form @submit.prevent="submitLines">
                <div class="block block-rounded mb-0">
                    <div class="block-header">
                        <h3 class="block-title">Tambah Ternak</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" @click.prevent="resetLines">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content p-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="input-name">Jenis Ternak</label>
                                    <type-select v-model="lineForm.type_id" :error="v$.lineForm.type_id.$error" @selected="$e => lineForm.type = $e.name"/>
                                </div>
                                <div class="mb-3">
                                    <label for="input-number">Investor</label>
                                    <investor-select v-model="lineForm.investor_id" @selected="$e => lineForm.investor = $e.name"/>
                                </div>
                                <!-- <div class="mb-3" v-if="lineForm.investor_id">
                                    <label for="input-persentase">Bagi Hasil</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" v-model="lineForm.persentase" min="1" max="100" :class="{'is-invalid' : errors.persentase}">
                                        <span class="input-group-text">%</span>
                                        <div class="invalid-feedback" v-if="errors.persentase">{{ errors.persentase[0] }}</div>
                                    </div>
                                </div> -->
                                <div class="mb-3" v-if="lineForm.investor_id">
                                    <label for="input-number">Tanggal MoU</label>
                                    <flat-pickr class="bg-white" :config="dateConfig2" v-model="lineForm.mou_date"></flat-pickr>
                                    <div class="invalid-feedback" v-if="errors.number">{{ errors.number[0] }}</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="input-number">Jenis Kelamin</label>
                                    <vue-select class="form-control p-0" :options="['Jantan', 'Betina']" v-model="lineForm.jk" :class="{'is_invalid' : v$.lineForm.jk.$error}"></vue-select>
                                    <div class="invalid-feedback" v-if="v$.lineForm.jk.$error">{{ v$.lineForm.jk.$errors[0].$message }}</div>
                                </div>
                                <div class="mb-3">
                                    <label for="input-number">Tanggal Lahir</label>
                                    <flat-pickr class="bg-white" :config="dateConfig2" v-model="lineForm.dob"></flat-pickr>
                                </div>
                                <div class="mb-3">
                                    <label for="input-number">Berat</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" min="1" v-model="lineForm.weight">
                                        <span class="bg-white input-group-text">Kg</span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="input-number">Harga</label>
                                    <CurrencyInput :value="lineForm.price" @change="$e => lineForm.price = $e" class="form-control" :class="{'is_invalid' : v$.lineForm.price.$error}"/>
                                    <div class="invalid-feedback" v-if="v$.lineForm.price.$error">{{ v$.lineForm.price.$errors[0].$message }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-content block-content-full border-top d-flex px-3 py-2 text-end">
                        <b-button variant="danger" class="me-1" :class="{'w-50' : $isMobile()}" @click.prevent="resetLines">Batal</b-button>
                        <b-button type="submit" variant="primary" :class="{'w-50' : $isMobile()}">Simpan</b-button>
                    </div>
                </div>
            </form>
        </b-modal>
    </base-layout>
</template>
<style lang="scss" scoped>
</style>
<script>
import locationSelect from '../Inventory/LocationSelect';
import flatPickr from 'vue-flatpickr-component';
import SupplierSelect from '../Supplier/SupplierSelect';
import InvestorSelect from '../Investor/InvestorSelect';
import CurrencyInput from '@/Components/Form/CurrencyInput';
import TypeSelect from '../Type/TypeSelect';
import VueSelect from 'vue-select';
import { useVuelidate } from '@vuelidate/core'
import { required, minLength, helpers, requiredIf , between, email, decimal, integer, url, sameAs } from '@vuelidate/validators';
import moment from 'moment';
export default {
    components : {
        flatPickr,
        SupplierSelect,
        CurrencyInput,
        locationSelect,
        TypeSelect,
        InvestorSelect,
        VueSelect
    },
    setup () {
        return {
        v$: useVuelidate()
        }
    },
    data(){
        return {
            loading : false,
            isOpen : false,
            lineForm : {
                editMode : false,
                index: null,
                id : null,
                type_id : null,
                type : null,
                investor_id : null,
                investor : null,
                persentase : 60,
                mou_date : null,
                jk : 'Jantan',
                dob : null,
                weight : null,
                price : null,
            },
            form : {
                index : null,
                id : null,
                supplier_id : null,
                ref : null,
                date : new Date(),
                due_date : null,
                schedule_date : null,
                location_id : null,
                total : 0,
                discount_type : 'nominal',
                discount_amount : 0,
                discount_value : 0,
                grand_total : 0,
            },
            removedLines : [],
            lines : [],
            title : 'Buat Pembelian',
            dateConfig: {
                altFormat: 'j F Y H:i',
                altInput: true,
                dateFormat: 'Y-m-d H:i',
                showMonths: 1,
                enableTime: true,
                time_24hr: true,
                disableMobile : true
            },
            dueConfig: {
                altFormat: 'j F Y',
                altInput: true,
                dateFormat: 'Y-m-d',
                showMonths: 1,
                disableMobile : true
            },
            dateConfig2: {
                altFormat: 'd/m/Y',
                altInput: true,
                dateFormat: 'Y-m-d',
                showMonths: 1,
                disableMobile : true
            },
        }
    },
    props :{
        errors : Object,
        editMode : Boolean,
        data : Object,
    },
    mounted(){
        if(this.editMode){
            this.editModeActive();
        }
    },
    methods : {
        resetLines(){
            this.lineForm.id = null;
            this.lineForm.index = null;
            this.lineForm.editMode = false;
            this.lineForm.type_id = null;
            this.lineForm.type = null;
            this.lineForm.investor = null;
            this.lineForm.investor_id = null;
            this.lineForm.persentase = 60;
            this.lineForm.mou_date = null;
            this.lineForm.jk = 'Jantan';
            this.lineForm.dob = null;
            this.lineForm.weight = null;
            this.lineForm.price = null;
            this.isOpen = false;
        },
        addLines(){
            this.lineForm.id = null;
            this.lineForm.index = null;
            this.lineForm.editMode = false;
            this.lineForm.type_id = null;
            this.lineForm.type = null;
            this.lineForm.investor = null;
            this.lineForm.investor_id = null;
            this.lineForm.persentase = 60;
            this.lineForm.mou_date = null;
            this.lineForm.jk = 'Jantan';
            this.lineForm.dob = null;
            this.lineForm.weight = null;
            this.lineForm.price = null;

            this.isOpen = true;
        },
        submitLines(){
            this.v$.lineForm.$validate()
            if (this.v$.lineForm.$error) {
                return
            }
            if(this.lineForm.editMode){
                let idx = this.lineForm.index;
                this.lines[idx].id = this.lineForm.id;
                this.lines[idx].type_id = this.lineForm.type_id;
                this.lines[idx].type = this.lineForm.type;
                this.lines[idx].investor_id = this.lineForm.investor_id;
                this.lines[idx].investor = this.lineForm.investor;
                this.lines[idx].persentase = this.lineForm.persentase;
                this.lines[idx].mou_date = this.lineForm.mou_date;
                this.lines[idx].jk = this.lineForm.jk;
                this.lines[idx].dob = this.lineForm.dob;
                this.lines[idx].weight = this.lineForm.weight;
                this.lines[idx].price = this.lineForm.price;
            }else{
                this.lines.push({
                    id : this.lineForm.id,
                    type_id : this.lineForm.type_id,
                    type : this.lineForm.type,
                    investor_id : this.lineForm.investor_id,
                    investor : this.lineForm.investor,
                    persentase : this.lineForm.persentase,
                    mou_date : this.lineForm.mou_date,
                    jk : this.lineForm.jk,
                    dob : this.lineForm.dob,
                    weight : this.lineForm.weight,
                    price : this.lineForm.price,
                });
            }

            this.updateLines();
            this.isOpen = false;
        },
        editLine(i){
            this.lineForm.index = i;
            this.lineForm.editMode = true;
            this.lineForm.id = this.lines[i].id;
            this.lineForm.type_id = this.lines[i].type_id;
            this.lineForm.type = this.lines[i].type;
            this.lineForm.investor = this.lines[i].investor;
            this.lineForm.investor_id = this.lines[i].investor_id;
            this.lineForm.persentase = this.lines[i].persentase;
            this.lineForm.mou_date = this.lines[i].mou_date;
            this.lineForm.jk = this.lines[i].jk;
            this.lineForm.dob = this.lines[i].dob;
            this.lineForm.weight = this.lines[i].weight;
            this.lineForm.price = this.lines[i].price;
            this.isOpen = true;
        },
        removeLine(idx){
            if(this.lines[idx].id){
                this.removedLines.push(this.lines[idx].id);
            }
            this.lines.splice(idx, 1);
            if(!this.lines.length){
                this.addLines();
            }
        },
        updateLinePrice(index, e){
            this.lines[index].price = e;

            this.updateLines();
        },
        date(value){
            if (value) {
                return moment(String(value)).format('DD MMMM YYYY')
            }
        },
        calculateDiscount(){

        },
        updateLines(){
            this.form.total = 0;
            for (var i = 0; i < this.lines.length; i++) {
                this.form.total += this.lines[i].price;
            }

            this.form.grand_total = this.form.total - this.form.discount_amount;
        },
        submit: function(){
            let data = Object.assign(this.form, {
                    lines : this.lines, 
                    removedLines : this.removedLines,
                }
            );
            let form = this.$inertia.form(data)
            let url = this.editMode ? this.route("user.purchase.update", {id : this.data.id }) : this.route("user.purchase.store");
            form.post(url, {
                preserveScroll: true,
                resetOnSuccess: true,
                onSuccess: () => {
                    this.$bvToast.toast(this.$page.props.flash.message, {
                        autoHideDelay: 15000,
                    });
                },
                onFinish: () => {
                    this.loading = false;
                },
            });
        },
        editModeActive(){
            this.title = 'Ubah Pembelian';
            this.form.id = this.data.id;
            this.form.supplier_id = this.data.supplier_id;
            this.form.ref = this.data.ref;
            this.form.date = this.data.order_date;
            this.form.location_id = this.data.location_id;
            this.form.due_date = this.data.due_date;
            this.form.schedule_date = this.data.schedule_date;
            this.form.total = this.data.total;
            this.form.grand_total = this.data.grand_total;
            this.form.discount_type = this.data.discount_type;
            this.form.discount_value = this.data.discount_value;

            
            if(this.data.lines.length > 0){
                this.lines = [];
                this.data.lines.forEach((value, index) => {
                    let line = {
                        id : value.id,
                        type_id : value.type_id,
                        type : value.type,
                        investor_id : value.investor_id,
                        investor : value.investor,
                        persentase : value.percentage,
                        mou_date : value.mou_date,
                        jk : value.jk,
                        dob : value.dob,
                        weight : value.weight,
                        price : value.price,
                    }
                    this.lines.push(line);
                });
            }
        },
    },
    validations () {
        return {
            lineForm : {
                type_id : {
                    required : helpers.withMessage('Jenis Ternak Wajib Diisi!', required),
                },
                jk : {
                    required : helpers.withMessage('Jenis Kelamin Ternak Wajib Diisi!', required),
                },
                price : {
                    required : helpers.withMessage('Harga Ternak Wajib Diisi!', required),
                },
                weight : {
                    required : helpers.withMessage('Berat Ternak Wajib Diisi!', required),
                },
            },
        }
    }
}
</script>