<template>
    <div>
        <button class="btn btn-sm btn-primary" @click.prevent="isOpen" v-tippy="'Tambah!'">
            <i class="fa-regular fa-plus"></i>
        </button>
        <b-modal id="modal-block-normal"  v-model="isOpen" body-class="p-0" hide-footer hide-header>
            <form @submit.prevent="isOpen">
                <div class="block block-rounded mb-0">
                    <div class="block-header">
                        <h3 class="block-title">Tambah Ternak</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" @click.prevent="isOpen = false">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="mb-3">
                            <label for="input-name">Jenis Ternak</label>
                            <type-select v-model="lineForm.type_id"/>
                            <div class="invalid-feedback" v-if="errors.name">{{ errors.name[0] }}</div>
                        </div>
                        <div class="mb-3">
                            <label for="input-number">Investor</label>
                            <investor-select v-model="lineForm.investor_id"/>
                            <div class="invalid-feedback" v-if="errors.number">{{ errors.number[0] }}</div>
                        </div>
                        <div class="mb-3">
                            <label for="input-persentase">Bagi Hasil</label>
                            <div class="input-group">
                                <input type="number" class="form-control" v-model="lineForm.persentase" :class="{'is-invalid' : errors.persentase}">
                                <span class="input-group-text">Kg</span>
                                <div class="invalid-feedback" v-if="errors.persentase">{{ errors.persentase[0] }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="block-content block-content-full text-end border-top">
                        <b-button variant="danger" class="me-1" @click.prevent="isOpen = false">Batal</b-button>
                        <b-button type="submit" variant="primary">Simpan</b-button>
                    </div>
                </div>
            </form>
        </b-modal>
    </div>
</template>
<script>
export default {
    name : 'purchase-line-form',
    props : {
        btnClass : Boolean,
    },
    data(){
        return {
            isOpen : false,
            form : {
                id : null,
                type_id : null,
                type : null,
                investor_id : null,
                investor : null,
                persentase : 60,
                jk : 'Jantan',
                dob : null,
                weight : null,
                price : null,
            }
        }
    }
}
</script>