<template>
    <div class="block block-rounded">
        <div class="block-header">
            <h3 class="block-title">
                Statistik Pembelian
            </h3>
        </div>
        <div class="block-content p-3">
            <Line :data="data" :options="options"/>
        </div>
    </div>
</template>
  
<script>
import {
  Chart as ChartJS,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Filler,
  Tooltip,
  Legend
} from 'chart.js'
import { Line } from 'vue-chartjs'

ChartJS.register(
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Filler,
  Title,
  Tooltip,
  Legend
)

export default {
    name: 'purchase-chart',
    components: {
        Line
    },
    data() {
        return {
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'Pembelian',
                    fill: true,
                    tension: 0.4,
                    backgroundColor: "rgba(101, 163, 13, .45)",
                    borderColor: "rgba(101, 163, 13, 1)",
                    pointBackgroundColor: "rgba(101, 163, 13, 1)",
                    pointBorderColor: "#fff",
                    pointHoverBackgroundColor: "#fff",
                    pointHoverBorderColor: "rgba(101, 163, 13, 1)",
                    data: [40, 39, 10, 40, 39, 80, 40]
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    y : {
                        position: 'right',
                        ticks: {
                            beginAtZero: true,
                            userCallback: function(label, index, labels) {
                                if (Math.floor(label) === label) {
                                    return label;
                                }

                            },
                        },
                        grid : {
                            display : false,
                        }
                    },
                    x : { 
                        display : false
                    },
                },
                interaction: { intersect: !1 },
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        callbacks: {
                            label: function (e) {
                                return " " + e.parsed.y + " Pesanan";
                            },
                        },
                    },
                },
            }
        }
    },
    computed: {
        lineStyle() {
            return {
                height: `280px`,
            }
        }
    },
}
</script>