<template>
    <base-layout :title="data.name" hideFooter>
        <div class="content">
            <div class="content-heading d-flex justify-content-between align-items-center" v-if="!$isMobile()">
                <span>
                    Detail Pembelian
                    <span class="badge bg-success" v-if="data.state == 'done'">Selesai</span>
                    <span class="badge bg-primary" v-else-if="data.state == 'confirm'">Proses</span>
                    <span class="badge bg-warning" v-else-if="data.state == 'draft'">Draft</span>
                    <span class="badge bg-danger" v-else>Batal</span>
                </span>
                <div class="d-flex">
                    <payment-modal class="me-1" 
                    btnClass="btn-outline-primary btn-sm"
                    :amount="data.residual" 
                    :orderId="data.id" 
                    url="user.purchase.payment" 
                    :errors="errors" 
                    v-if="data.status_payment != 'paid' && ['confirm', 'done'].includes(data.state)"/>
                    <b-dropdown variant="primary" size="sm" class="me-1">
                        <template #button-content>
                            <i class="fa fa-fw fa-ellipsis-vertical me-1"></i>
                            <span>Aksi</span>
                        </template>
                        <b-dropdown-item :href="route('user.purchase.edit', {id : data.id})">
                            <i class="fa fa-fw fa-pen-to-square me-1"></i>
                            Edit
                        </b-dropdown-item>
                        <b-dropdown-item href="javascript:void(0)" @click.prevent="remove(data.id)">
                            <i class="fa fa-fw fa-trash-can"></i>
                            Hapus
                        </b-dropdown-item>
                    </b-dropdown>
                    <template v-if="data.state == 'draft'">
                        <button type="button" class="btn btn-sm btn-danger me-1" @click.prevent="update('cancel')">
                            <i class="fa fa-fw fa-times me-1"></i>
                            <span class="d-none d-sm-inline">Batal</span>
                        </button>
                        <button type="button" class="btn btn-sm btn-success" @click.prevent="update('confirm')">
                            <i class="fa fa-fw fa-check me-1"></i>
                            <span class="d-none d-sm-inline">Konfirmasi</span>
                        </button>
                    </template>
                </div>
            </div>
            <div class="row mb-2" v-if="$isMobile() && ['confirm', 'done'].includes(data.state)">
                <div class="col-6">
                    <a class="block block-bordered block-link-shadow mb-0 text-end rounded-2" :href="data.pengiriman > 1 ? route('user.inventory.index', { state : 'in', source : data.id}) : route('user.inventory.show', {state : 'in', id : data.move_id})">
                        <div class="align-items-center block-content block-content-full d-flex justify-content-between p-3">
                            <div class="me-2"><i
                                    class="fa fa-2x fa-truck fa-truck-loading text-body-bg-dark"></i></div>
                            <div class="text-end">
                                <div class="fw-semibold">{{ data.penerimaan }}</div>
                                <div class="fs-sm fw-semibold text-uppercase">Penerimaan</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a class="block block-bordered block-link-shadow mb-0 text-end rounded-2" href="javascript:void(0)">
                        <div class="align-items-center block-content block-content-full d-flex justify-content-between p-3">
                            <div class="me-2"><i class="fa-2x si si-wallet text-body-bg-dark"></i></div>
                            <div class="text-end">
                                <div class="fw-semibold">{{ data.pembayaran }}</div>
                                <div class="fs-sm fw-semibold text-uppercase text-muted">Pembayaran</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="block block-rounded block-fx-shadow">
                <div class="block-content p-3">
                    <div class="d-flex justify-content-between mb-4">
                        <h2 class="fs-md-2 my-auto fs-3">{{ data.name }}</h2>
                        <template v-if="!$isMobile()">
                            <div class="d-flex space-x-1" v-if="['confirm', 'done'].includes(data.state)">
                                <a class="block block-bordered block-link-shadow mb-0 text-end" :href="data.penerimaan > 1 ? route('user.inventory.index', { state : 'in', source : data.id}) : route('user.inventory.show', {state : 'in', id : data.move_id})">
                                    <div class="align-items-center block-content block-content-full d-flex justify-content-between p-2">
                                        <div class="me-2"><i
                                                class="fa fa-2x fa-truck fa-truck-loading text-body-bg-dark"></i></div>
                                        <div class="text-end">
                                            <div class="fw-semibold">{{ data.penerimaan }}</div>
                                            <div class="fs-sm fw-semibold text-uppercase">Penerimaan</div>
                                        </div>
                                    </div>
                                </a>
                                <!-- <a class="block block-bordered block-link-shadow mb-0 text-end" href="javascript:void(0)">
                                    <div class="align-items-center block-content block-content-full d-flex justify-content-between p-2">
                                        <div class="me-2"><i class="fa-2x si si-wallet text-body-bg-dark"></i></div>
                                        <div class="text-end">
                                            <div class="fw-semibold">0</div>
                                            <div class="fs-sm fw-semibold text-uppercase text-muted">Pembayaran</div>
                                        </div>
                                    </div>
                                </a> -->
                            </div>
                        </template>
                    </div>
                    <div class="row mb-lg-4">
                        <div class="col-md-6">
                            <div class="plaintext">
                                <div class="label">Supplier</div>
                                <div class="value">{{  data.supplier }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Referensi</div>
                                <div class="value">{{  data.ref }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Tanggal</div>
                                <div class="value">{{  date(data.order_date) }}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="plaintext">
                                <div class="label">Jatuh Tempo</div>
                                <div class="value">{{ date2(data.due_date) }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Lokasi Penerimaan</div>
                                <div class="value">{{  data.location }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Jadwal Penerimaan</div>
                                <div class="value">{{  date(data.schedule_date) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-content pb-3 pt-0 pt-md-0 px-3 px-md-0">
                    <table class="table table-vcenter table-bordered" id="pembelian_table" v-if="!$isMobile()">
                        <thead class="bg-body">
                            <tr>
                                <th width="35%">Jenis Ternak</th>
                                <th width="35%">Investor</th>
                                <th width="15%">Berat</th>
                                <th width="15%">Harga</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(line, index) in data.lines" :key="index">
                                <td>
                                    <div class="fw-bold fs-6">{{ line.type }}</div>
                                    <div class="fs-sm">
                                        {{ line.jk }}
                                    </div>
                                    <div class="fs-sm">
                                        {{ date(line.dob)}}
                                    </div>
                                </td>
                                <td>
                                    <template v-if="line.investor_id">
                                        <div class="fw-bold fs-6">{{ line.investor }}</div>
                                        <div class="fs-sm">
                                            <span>MoU :</span>
                                            <span class="ms-1">{{ date(line.mou_date) }}</span>
                                        </div>
                                    </template>
                                </td>
                                <td>
                                    {{ line.weight }} Kg
                                </td>
                                <td>
                                    {{ currency(line.price) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <template v-else>
                        <div class="block block-bordered rounded-2 mb-2" v-for="(line, index) in data.lines" :key="index">
                            <div class="block-content d-flex justify-content-between p-2">
                                <div class="text-left">
                                    <div class="fw-semibold fs-6">{{ line.type }}</div>
                                    <div class="fs-sm">
                                        {{ line.jk }}
                                    </div>
                                    <div class="fs-sm">
                                        {{ date(line.dob)}}
                                    </div>
                                </div>
                                <div class="text-end">
                                    <template v-if="line.investor_id">
                                        <div class="fw-semibold fs-6">{{ line.investor }}</div>
                                        <div class="fs-sm">
                                            <span class="ms-1">{{ date2(line.mou_date) }}</span>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <div class="block-content d-flex justify-content-between border-top border-2 p-2">
                                <div class="text-start">
                                    {{ line.weight }} Kg
                                </div>
                                <div class="text-end fw-bold fs-6">
                                    {{ currency(line.price) }}
                                </div>
                            </div>
                        </div>
                    </template>
                    <div class="justify-content-md-between row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <div class="trans_summ">
                                <div class="label">Total</div>
                                <div class="value">{{ currency(data.total) }}</div>
                            </div>
                            <div class="trans_summ">
                                <div class="label">Discount</div>
                                <div class="value">{{ currency(data.discount_value) }}</div>
                            </div>
                            <div class="trans_summ">
                                <div class="label">Grand Total</div>
                                <div class="value">{{ currency(data.grand_total) }}</div>
                            </div>
                            <hr/>
                            <template v-if="data.payment.length">
                                <div class="trans_summ" v-for="p in data.payment" :key="p.id">
                                    <div class="fs-sm label">Dibayar pada {{ date3(p.date) }}</div>
                                    <div class="value">{{ currency(p.amount) }}</div>
                                </div>
                                <hr/>
                            </template>
                            <div class="trans_summ">
                                <div class="label">Sisa Tagihan</div>
                                <div class="value">{{ currency(data.residual) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="footer-nav-area" v-if="$isMobile() && data.status_payment != 'paid'">
            <div class="content">
                <div class="row" v-if="data.state == 'draft'">
                    <div class="col-6">
                        <button type="button" class="btn btn-sm btn-danger w-100" @click.prevent="update('cancel')">
                            <i class="fa fa-fw fa-times me-1"></i>
                            Batal
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-sm btn-success w-100" @click.prevent="update('confirm')">
                            <i class="fa fa-fw fa-check me-1"></i>
                            Konfirmasi
                        </button>
                    </div>
                </div>
                
                <template v-else>
                    <payment-modal class="me-1" 
                        btnClass="btn-primary w-100"
                        :amount="data.residual" 
                        :orderId="data.id" 
                        url="user.purchase.payment" 
                        :errors="errors" 
                        v-if="data.status_payment != 'paid' && ['confirm', 'done'].includes(data.state)"/>
                </template>
            </div>
        </div>
    </base-layout>
</template>
<style lang="scss">

</style>
<script>
import PaymentModal from '../Payment/PaymentModal';
import moment from 'moment';
export default {
    components : {
        PaymentModal
    },
    props :{
        data : Object,
        errors : Object,
    },
    data(){
        return {
            loading : false,
        }
    },
    computed : {
        // routeMove(){
        //     if(this.state)
        // }
    },
    methods : {
        date(value){
            if (value) {
                return moment(String(value)).format('DD MMMM YYYY hh:mm')
            }
        },
        date2(value){
            if (value) {
                return moment(String(value)).format('DD MMMM YYYY')
            }
        },
        date3(value){
            if (value) {
                return moment(String(value)).format('DD/MM/YYYY')
            }
        },
        update(state){
            this.loading = true;
            let form = this.$inertia.form({ state : state})
            let url = this.route("user.purchase.state", {id : this.data.id });
            form.post(url, {
                preserveScroll: true,
                resetOnSuccess: true,
                onSuccess: () => {
                    this.$bvToast.toast(this.$page.props.flash.message, {
                        autoHideDelay: 15000,
                    });
                },
                onFinish: () => {
                    this.loading = false;
                },
            });
        },
        remove(id){
            this.$swal.fire({
                icon: 'warning',
                title: 'Kamu Yakin?',
                text: `Data yang dihapus tidak bisa kembali!`,
                showCancelButton: true,
                cancelButtonText: 'Tidak, Batal',
                confirmButtonText: 'Ya, Hapus!',
            }).then((result) => {
                if (result.isConfirmed) {
                    this.$inertia.delete(this.route('user.purchase.delete', {id : id}), {
                        preserveScroll: true
                    })
                }
            })
        },
    },
}
</script>