<template>
    <div>
        <button class="btn" :class="btnClass" @click="openModal">
            <i class="si si-wallet me-1"></i>
            Tambah Pembayaran
        </button>
        <b-modal 
        v-model="modal" 
        body-class="p-0" hide-footer hide-header @hide.prevent :dialog-class="{'modal-dialog-slideup m-0' : $isMobile()}">
            <form @submit.prevent="submit">
                <div class="block block-rounded mb-0">
                    <div class="block-header p-3">
                        <h3 class="block-title">Tambah Pembayaran</h3>
                        <div class="block-options">
                        <button type="button" class="btn-block-option" @click.prevent="reset">
                            <i class="fa fa-times"></i>
                        </button>
                        </div>
                    </div>
                    <div class="block-content p-3">
                        <div class="mb-3">
                            <label for="input-code">Jumlah Tagihan</label>
                            <div class="fs-5"> {{ currency(form.amount_due) }}</div>
                        </div>
                        <div class="mb-3">
                            <label for="input-code">Jumlah Pembayaran</label>
                            <CurrencyInput v-model="form.amount" class="form-control" :class="{'is-invalid' : errors.amount}"/>
                            <div class="invalid-feedback" v-if="errors.amount">{{ errors.amount[0] }}</div>
                        </div>
                        <div class="mb-3">
                            <label for="input-code">Tanggal Pembayaran</label>
                            <flat-pickr class="bg-white form-control" :config="dateConfig" :class="{'is-invalid' : errors.date}" v-model="form.date"></flat-pickr>
                            <div class="invalid-feedback" v-if="errors.date">{{ errors.date[0] }}</div>
                        </div>
                    </div>
                    <div class="block-content block-content-full text-end border-top">
                        <b-button variant="danger" class="me-1" @click.prevent="reset">Batal</b-button>
                        <b-button type="submit" variant="primary">Simpan</b-button>
                    </div>
                </div>
            </form>
        </b-modal>
    </div>
</template>
<script>

import _ from 'lodash';
import axios from 'axios';
import flatPickr from 'vue-flatpickr-component';
import CurrencyInput from '@/Components/Form/CurrencyInput';
export default {
    name : 'payment-modal',
    components : {
        flatPickr,
        CurrencyInput
    },
    props : {
        orderId : Number,
        url : String,
        amount : {
            type : Number,
            default : 0
        },
        value : Number,
        size : String,
        readonly : {
            type : Boolean,
            default : false,
        },
        btnClass: String,
    },
    computed : {
        sizeclass(){
            if (this.size == 'sm'){
                return 'sm'
            }else if(this.size == 'lg'){
                return 'lg'
            }
            return ''
        }
    },
    data(){
        return {
            modal : false,
            errors : {},
            form : {
                order_id : this.orderId,
                amount_due : this.amount,
                amount : this.amount,
                date : new Date(),
            },
            dateConfig: {
                altFormat: 'j F Y H:i',
                altInput: true,
                dateFormat: 'Y-m-d H:i',
                showMonths: 1,
                enableTime: true,
                time_24hr: true
            },
        }
    },
    methods :{
        openModal(){
            this.modal = true;
            this.getSelection();
        },
        async getSelection(id = null){
            const self = this;
            var params = {};
            if(id){
                let first = {
                    id : id,
                    limit : 1
                }
                params = Object.assign(params, first)
            }
            if(this.search){
                let search = {
                    search : this.search
                }
                params = Object.assign(params, search)
            }
            await axios.get(this.route("user.inventory.cattle.data"), {
                params
            })
            .then(function (response) {
                const resp = response.data;
                if(id){
                    self.selected = resp;
                    this.$emit('change', resp);
                }else{
                    self.data = resp;
                }
            })
            .catch(function (error) {
                
            })
        },
        reset(){
            this.modal = false;
            this.form.order_id = this.orderId;
        },
        async submit(){
            const self = this;
            await axios.post(this.route(this.url), this.form)
            .then(function (response) {
                const resp = response.data;
                // console.log(resp);
                if(resp.fail){
                    self.errors = resp.errors;
                }else{
                    // self.
                    location.reload();
                    console.log('bayar');
                }
            })
            .catch(function (error) {
                console.log(error);
            })
        },
    },
}
</script>