<template>
    <base-layout title="Metode Pembayaran">
        <div class="content" v-if="$isMobile()">
            <div v-for="(d, i) of dataList" :key="i" class="block block-trans">
                <div class="block-content">
                    <div class="info">
                        <h3 class="fs-6 fw-semibold mb-0">{{ d.name }}</h3>
                        <p class="text-muted mb-0">
                            {{ d.code }}
                        </p>
                    </div>
                    <div class="my-auto">
                        <div class="fs-6 fw-semibold">{{ d.type }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" v-else>
            <div class="content-heading d-flex justify-content-between align-items-center">
                <span>
                    List Metode Pembayaran
                </span>
                <div class="space-x-1">
                    <b-button variant="primary" size="sm" @click="modal = !modal">
                        <i class="fa fa-plus me-1"></i>
                        <span>Tambah Metode Pembayaran</span>
                    </b-button>
                </div>
            </div>
            <div class="block">
                <div class="block-content p-0">
                    <EasyDataTable
                        v-model:server-options="options"
                        :server-items-length="dataTotal"
                        :loading="loading"
                        :headers="headers"
                        :items="dataList"
                        table-class-name="datatable"
                    >
                    <template #item-name="item">
                        <div>{{ item.name }}</div>
                        <div class="text-muted" v-if="item.type == 'Bank'">{{ item.number }}</div>
                    </template>
                    <template #item-options="item">
                        <button  class="btn btn-sm btn-alt-secondary me-1" @click.prevent="edit(item.id)">
                            <i class="fa fa-pen-to-square"></i>
                        </button>
                        <button  class="btn btn-sm btn-alt-secondary me-1" @click.prevent="remove(item.id)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </template>
                    </EasyDataTable>
                </div>
            </div>
        </div>
        
        <div class="floating-container" v-if="$isMobile()">
            <button @click="modal = !modal" class="btn btn-primary btn-floating">
                <i class="fa fa-plus fa-2x"></i>
            </button>
        </div>

        <b-modal 
        id="modal-block-normal"  v-model="modal"
        body-class="p-0" hide-footer hide-header @hide.prevent :dialog-class="{'modal-dialog-slideup m-0' : $isMobile()}">
            <form @submit.prevent="submit">
                <div class="block block-rounded mb-0">
                    <div class="block-header">
                        <h3 class="block-title">{{ title }}</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" @click.prevent="reset">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content p-3">
                        <div class="mb-3">
                            <label for="input-type">Tipe</label>
                            <select class="form-control" v-model="form.type" :class="{'is-invalid' : errors.type}">
                                <option value="">Pilih</option>
                                <option value="Bank">Bank</option>
                                <option value="Cash">Cash</option>
                            </select>
                            <div class="invalid-feedback" v-if="errors.type">{{ errors.type[0] }}</div>
                        </div>
                        <div class="mb-3">
                            <label for="input-name">Nama</label>
                            <input type="text" class="form-control" :class="{'is-invalid' : errors.name}" id="input-name" v-model="form.name" >
                            <div class="invalid-feedback" v-if="errors.name">{{ errors.name[0] }}</div>
                        </div>
                        <div class="mb-3" v-if="form.type == 'Bank'">
                            <label for="input-number">No Rekening</label>
                            <input type="text" class="form-control" :class="{'is-invalid' : errors.number}" id="input-number" v-model="form.number" >
                            <div class="invalid-feedback" v-if="errors.number">{{ errors.number[0] }}</div>
                        </div>
                        <div class="mb-3">
                            <label for="input-code">Kode</label>
                            <input type="text" class="form-control" :class="{'is-invalid' : errors.code}" id="input-code" v-model="form.code" >
                            <div class="invalid-feedback" v-if="errors.code">{{ errors.code[0] }}</div>
                        </div>
                    </div>
                    <div class="block-content p-3 text-end border-top" :class="{'d-flex p-2' : $isMobile()}">
                        <b-button variant="danger" class="me-1" @click.prevent="reset" :class="{'w-50' : $isMobile()}">Batal</b-button>
                        <b-button type="submit" variant="primary" :class="{'w-50' : $isMobile()}">Simpan</b-button>
                    </div>
                </div>
            </form>
        </b-modal>
    </base-layout>
</template>
<script>
import axios from 'axios';
import EasyDataTable from 'vue3-easy-data-table';
import moment from 'moment';
import DaerahSelect from '@/Components/Form/DaerahSelect';
export default {
    components : {
        EasyDataTable,
        DaerahSelect
    },
    data () {
      return {
        modal : false,
        editMode : false,
        title : 'Tambah Metode Pembayaran',
        form : {
            id : null,
            type : "",
            number : null,
            name : null,
            code : null,
            bank_id : null,
        },
        errors : {},
        dataList: [],
        dataTotal : 0,
        loading: false,
        options: {},
        currentPage : 1,
        headers: [
            { text: "NAMA", value: "name" },
            { text: "TIPE", value: "type"},
            { text: "KODE", value: "code"},
            { text: "AKSI", value: "options", width : 135},
        ],
        options :{
            page: 1,
            rowsPerPage: 5,
            sortBy: 'name',
            sortType: 'desc',
        }
      }
    },
    created(){
        this.fetchData();
    },  
    methods: {
        date(value){
            if (value) {
                return moment(String(value)).format('DD MMMM YYYY hh:mm')
            }
        },

        async fetchData(page = 1){
            const self = this;
            let params = {
                type : 'in',
                page : page,
                limit : this.options.rowsPerPage,
                sort : this.options.sortBy,
                sortDir : this.options.sortType
            }

            await axios.get(this.route("user.finance.payment_method.data"),{
                params: params
            })
            .then(function (response) {
                const resp = response.data;
                self.dataList = resp.data;
                self.dataTotal = resp.total;
                self.loading = false;
            })
            .catch(function (error) {
                
            })
        },
        remove(id){
            this.$swal.fire({
                icon: 'warning',
                title: 'Kamu Yakin?',
                text: `Data yang dihapus tidak bisa kembali!`,
                showCancelButton: true,
                cancelButtonText: 'Tidak, Batal',
                confirmButtonText: 'Ya, Hapus!',
            }).then((result) => {
                if (result.isConfirmed) {
                    this.$inertia.delete(this.route('user.finance.payment_method.delete', {id : id}), {
                        preserveScroll: true
                    })
                }
            })
        },
        async edit(id){
            const self = this;
            await axios.get(this.route("user.finance.payment_method.edit", {id : id}))
            .then(function (response) {
                const resp = response.data;
                self.title = 'Ubah Metode Pembayaran';
                self.editMode = true;
                self.form.id = resp.id;
                self.form.type = resp.type;
                self.form.name = resp.name;
                self.form.number = resp.number;
                self.form.code = resp.code;
                self.form.bank_id = resp.bank_id;
                self.modal = true;
            })
            .catch(function (error) {
                
            })
        },
        reset(){
            this.modal = false;
            this.title = 'Tambah Metode Pembayaran';
            this.form.id = null;
            this.form.name = null;
            this.form.type = "";
            this.form.number = null;
            this.form.code = null;
            this.form.bank_id = null;
        },
        async submit(){
            const self = this;
            self.loading = true;
            let url = this.editMode ? this.route("user.finance.payment_method.update", {id : this.form.id}) : this.route("user.finance.payment_method.store");
            let form = this.$inertia.form(this.form);
            await axios.post(url, this.form)
            .then(function (response) {
                self.loading = false;
                const resp = response.data;
                if(resp.fail){
                    self.errors = resp.errors;
                }else{
                    self.modal = false;
                    self.reset();
                    self.fetchData();
                }
            })
            .catch(function (error) {
                console.log(error);
            })
        }
    },
}
</script>