<template>
    <base-layout title="Tambah Lokasi & Pent" hideFooter>
        <form @submit.prevent="submit">
            <div class="content">
                <div class="content-heading d-flex justify-content-between align-items-center" v-if="!$isMobile()">
                    <span>
                        {{ title }}
                    </span>
                    <div class="d-flex">
                        <a :href="route('user.inventory.location.index')" class="btn btn-sm btn-danger me-1">
                            <i class="fa fa-fw fa-times me-1"></i>
                            Batal
                        </a>
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-fw fa-check me-1"></i>
                            Simpan
                        </button>
                    </div>
                </div>
                <div class="block block-rounded block-fx-shadow">
                    <div class="block-content p-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-code">Kode</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm" :class="{'is-invalid' : errors.code}" id="input-code" v-model="form.code" >
                                        <div class="invalid-feedback" v-if="errors.code">{{ errors.code }}</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-name">Nama</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm" :class="{'is-invalid' : errors.name}" id="input-name" v-model="form.name" >
                                        <div class="invalid-feedback" v-if="errors.name">{{ errors.name }}</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-address">Alamat</label>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea class="form-control" rows="3" v-model="form.address" :class="{'is-invalid' : errors.address}"></textarea>
                                        <div class="invalid-feedback" v-if="errors.address">{{ errors.address }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-default">Provinsi</label>
                                    </div>
                                    <div class="col-md-8">
                                        <daerah-select size="sm" type="provinsi" v-model="form.prov_id" :error="errors.prov_id"/>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-default">Kota/Kabupaten</label>
                                    </div>
                                    <div class="col-md-8">
                                        <daerah-select size="sm" type="kota" v-model="form.kota_id" :error="errors.kota_id" :parent_id="form.prov_id" :readonly="form.prov_id ? false : true" hasParent/>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-default">Kecamatan</label>
                                    </div>
                                    <div class="col-md-8">
                                        <daerah-select size="sm" type="kecamatan" v-model="form.kec_id" :error="errors.kec_id" :parent_id="form.kota_id" :readonly="form.kota_id ? false : true" hasParent/>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="input-default">Desa/Kelurahan</label>
                                    </div>
                                    <div class="col-md-8">
                                        <daerah-select size="sm" type="kelurahan" v-model="form.kel_id" :error="errors.kel_id" :parent_id="form.kec_id" :readonly="form.kec_id ? false : true" hasParent/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-vcenter table-bordered">
                            <thead class="bg-body">
                                <tr>
                                    <th width="30%">KODE</th>
                                    <th width="30%">NAMA</th>
                                    <th width="29%">KAPASITAS</th>
                                    <th width="1%" class="text-center">
                                        <button  class="btn btn-sm btn-primary me-1" @click.prevent="addLines" v-tippy="'Tambah!'">
                                            <i class="fa-regular fa-plus"></i>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="lines.length">
                                    <tr v-for="(line, index) in lines" :key="index">
                                        <td>
                                            <input type="text" class="form-control" :value="lines[index].code"  @change="event => lines[index].code = event.target.value"/>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" :value="lines[index].name"  @change="event => lines[index].name = event.target.value"/>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" :value="lines[index].capacity"  @change="event => lines[index].capacity = event.target.value"/>
                                        </td>
                                        <td class="text-center">
                                            <button  class="btn btn-sm btn-danger me-1" @click.prevent="removeLine(index)" v-tippy="'Hapus!'">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="footer-nav-area" v-if="$isMobile()">
                <div class="content">
                    <div class="row">
                        <div class="col-6">
                            <a :href="route('user.inventory.location.index')" class="btn btn-danger me-1 w-100">
                                <i class="fa fa-fw fa-times me-1"></i>
                                Batal
                            </a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary w-100">
                                <i class="fa fa-fw fa-check me-1"></i>
                                Simpan
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </base-layout>
</template>
<script>
import axios from 'axios';
import EasyDataTable from 'vue3-easy-data-table';
import moment from 'moment';
import DaerahSelect from '@/Components/Form/DaerahSelect';
export default {
    components : {
        EasyDataTable,
        DaerahSelect
    },
    props :{
        errors : Object,
        editMode : Boolean,
        data : Object,
    },
    data () {
      return {
        title : 'Tambah Lokasi & Pent',
        form : {
            id : null,
            code : null,
            name : null,
            address : null,
            prov_id : null,
            kota_id : null,
            kec_id : null,
            kel_id : null,
        },
        loading: false,
        lines : [{
            id : null,
            code : null,
            name : null,
            capacity : 0,
        }],
        removedLines : [],
      }
    },
    mounted(){
        if(this.editMode){
            this.ediModeActive();
        }
    },
    methods: {
        addLines(){
            this.lines.push({
                id : null,
                code : null,
                name : null,
                capacity : 0,
            });
        },
        removeLine(idx){
            if(this.lines[idx].id){
                this.removedLines.push(this.lines[idx].id);
            }
            this.lines.splice(idx, 1);
            if(!this.lines.length){
                this.addLines();
            }
        },
        ediModeActive(){
            this.title = 'Ubah Lokasi & Pent';
            this.form.id = this.data.id;
            this.form.name = this.data.name;
            this.form.address = this.data.address;
            this.form.prov_id = this.data.prov_id;
            this.form.kota_id = this.data.kota_id;
            this.form.kec_id = this.data.kec_id;
            this.form.kel_id = this.data.kel_id;
            this.form.code = this.data.code;

            if(this.data.lines.length > 0){
                this.lines = [];
                this.data.lines.forEach((value, index) => {
                    let line = {
                        id : value.id,
                        code : value.code,
                        name : value.name,
                        capacity : value.capacity
                    }
                    this.lines.push(line);
                });
            }
        },
        submit(){
            this.loading = true;
            let data = Object.assign(this.form, {
                    lines : this.lines, 
                    removedLines : this.removedLines,
                }
            );
            let form = this.$inertia.form(data)
            let url = this.editMode ? this.route("user.inventory.location.update", {id : this.form.id}) : this.route("user.inventory.location.store");
            form.post(url, {
                preserveScroll: true,
                onSuccess: () => {
                    this.$bvToast.toast(this.$page.props.flash.message, {
                        autoHideDelay: 15000,
                    });
                },
                onFinish : () => {
                    this.loading = false;
                    this.reset();
                    this.fetchData();
                }
            });
        }
    },
}
</script>