<template>
    <base-layout title="List Lokasi & Pent">
        <div class="content" v-if="$isMobile()">
            <a v-for="(d, i) of dataList" :key="i" class="block block-trans" :href="route('user.inventory.location.show', { id : d.id })">
                <div class="block-content">
                    <div class="info">
                        <h2 class="fs-5 fw-semibold mb-0">{{ d.code }} - {{ d.name }}</h2>
                        <p class="text-muted mb-0">
                            {{ d.address }}<br>
                            {{ d.kel }}, {{ d.kec }}, {{ d.kota }}, {{ d.prov }}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="content" v-else>
            <div class="content-heading d-flex justify-content-between align-items-center">
                <span>
                    List Lokasi & Pent
                </span>
                <div class="space-x-1">
                    <a :href="route('user.inventory.location.create')" class="btn btn-sm btn-primary">
                        <i class="fa fa-plus me-1"></i>
                        <span>Tambah Lokasi & Pent</span>
                    </a>
                </div>
            </div>
            <div class="block">
                <div class="block-content p-0">
                    <EasyDataTable
                        v-model:server-options="options"
                        :server-items-length="dataTotal"
                        :loading="loading"
                        :headers="headers"
                        :items="dataList"
                        table-class-name="datatable"
                    >
                    <template #item-address="item">
                        <div>{{ item.address }}</div>
                        <div>{{ item.kel }}, {{ item.kec }}, {{ item.kota }}, {{ item.prov }}</div>
                    </template>
                    <template #item-options="item">
                        <a  class="btn btn-sm btn-alt-secondary me-1" :href="route('user.inventory.location.edit', {id : item.id})">
                            <i class="fa fa-pen-to-square"></i>
                        </a>
                        <button  class="btn btn-sm btn-alt-secondary me-1" @click.prevent="remove(item.id)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </template>
                    </EasyDataTable>
                </div>
            </div>
        </div>
        <div class="floating-container" v-if="$isMobile()">
            <a :href="route('user.inventory.location.create')" class="btn btn-primary btn-floating">
                <i class="fa fa-plus fa-2x"></i>
            </a>
        </div>
    </base-layout>
</template>
<script>
import axios from 'axios';
import EasyDataTable from 'vue3-easy-data-table';
import moment from 'moment';
import DaerahSelect from '@/Components/Form/DaerahSelect';
export default {
    components : {
        EasyDataTable,
        DaerahSelect
    },
    props :{
        errors : Object
    },
    data () {
      return {
        modal : false,
        editMode : false,
        title : 'Tambah Lokasi',
        form : {
            id : null,
            code : null,
            name : null,
            address : null,
            prov_id : null,
            kota_id : null,
            kec_id : null,
            kel_id : null,
        },
        dataList: [],
        dataTotal : 0,
        loading: false,
        options: {},
        currentPage : 1,
        headers: [
            { text: "KODE", value: "code" },
            { text: "NAMA", value: "name", width : 200},
            { text: "ALAMAT", value: "address", width : 310},
            { text: "JUMLAH TERNAK", value: "count_ternak"},
            { text: "KAPASITAS", value: "capacity"},
            { text: "AKSI", value: "options", width : 135},
        ],
        options :{
            page: 1,
            rowsPerPage: 5,
            sortBy: 'name',
            sortType: 'desc',
        }
      }
    },
    created(){
        this.fetchData();
    },  
    methods: {
        date(value){
            if (value) {
                return moment(String(value)).format('DD MMMM YYYY hh:mm')
            }
        },

        async fetchData(page = 1){
            const self = this;
            let params = {
                type : 'in',
                page : page,
                limit : this.options.rowsPerPage,
                sort : this.options.sortBy,
                sortDir : this.options.sortType
            }

            await axios.get(this.route("user.inventory.location.data"),{
                params: params
            })
            .then(function (response) {
                const resp = response.data;
                self.dataList = resp.data;
                self.dataTotal = resp.total;
                self.loading = false;
            })
            .catch(function (error) {
                
            })
        },
        remove(id){
            this.$swal.fire({
                icon: 'warning',
                title: 'Kamu Yakin?',
                text: `Data yang dihapus tidak bisa kembali!`,
                showCancelButton: true,
                cancelButtonText: 'Tidak, Batal',
                confirmButtonText: 'Ya, Hapus!',
            }).then((result) => {
                if (result.isConfirmed) {
                    this.$inertia.delete(this.route('user.inventory.location.delete', {id : id}), {
                        preserveScroll: true
                    })
                }
            })
        },
        async edit(id){
            const self = this;
            await axios.get(this.route("user.inventory.location.edit", {id : id}))
            .then(function (response) {
                const resp = response.data;
                self.title = 'Ubah Lokasi';
                self.editMode = true;
                self.form.id = resp.id;
                self.form.name = resp.name;
                self.form.address = resp.address;
                self.form.prov_id = resp.prov_id;
                self.form.kota_id = resp.kota_id;
                self.form.kec_id = resp.kec_id;
                self.form.kel_id = resp.kel_id;
                self.form.code = resp.code;
                self.modal = true;
            })
            .catch(function (error) {
                
            })
        },
        reset(){
            this.modal = false;
            this.title = 'Tambah Lokasi';
            this.form.id = null;
            this.form.name = null;
            this.form.address = null;
            this.form.code = null;
            this.form.prov_id = null;
            this.form.kota_id = null;
            this.form.kec_id = null;
            this.form.kel_id = null;
        },
        submit(){
            this.loading = true;
            let form = this.$inertia.form(this.form);
            let url = this.editMode ? this.route("user.inventory.location.update", {id : this.form.id}) : this.route("user.inventory.location.store");
            form.post(url, {
                preserveScroll: true,
                onSuccess: () => {
                    this.$bvToast.toast(this.$page.props.flash.message, {
                        autoHideDelay: 15000,
                    });
                },
                onFinish : () => {
                    this.loading = false;
                    this.reset();
                    this.fetchData();
                }
            });
        }
    },
}
</script>