<template>
    <base-layout title="Tambah Pelanggan" hideFooter>
        <form @submit.prevent="submit">
            <div class="content">
                <div class="content-heading d-flex justify-content-between align-items-center" v-if="!$isMobile()">
                    <span>
                        {{ title }}
                    </span>
                    <div class="d-flex">
                        <a :href="route('user.sale.customer.index')" class="btn btn-sm btn-danger me-1">
                            Batal
                        </a>
                        <button type="submit" class="btn btn-sm btn-primary">
                            Simpan
                        </button>
                    </div>
                </div>

                <div class="block block-rounded block-fx-shadow" :class="{'bloc-mode-loading' : loading}">
                    <div class="block-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <label for="input-name">Nama</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input id="input-name" class="form-control form-control-sm" :class="{'is-invalid' : errors.name}" type="text" v-model="form.name" />
                                        <div class="invalid-feedback" v-if="errors.name">{{ errors.name }}</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <label for="input-address">Alamat</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input id="input-address" class="form-control form-control-sm" :class="{'is-invalid' : errors.address}" type="text" v-model="form.address" />
                                        <div class="invalid-feedback" v-if="errors.address">{{ errors.address }}</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <label for="input-default">Provinsi</label>
                                    </div>
                                    <div class="col-md-9">
                                        <daerah-select type="provinsi" v-model="form.prov_id" :error="errors.prov_id"/>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <label for="input-default">Kota/Kabupaten</label>
                                    </div>
                                    <div class="col-md-9">
                                        <daerah-select type="kota" v-model="form.kota_id" :error="errors.kota_id" :parent_id="form.prov_id" :readonly="form.prov_id ? false : true" hasParent/>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <label for="input-default">Kecamatan</label>
                                    </div>
                                    <div class="col-md-9">
                                        <daerah-select type="kecamatan" v-model="form.kec_id" :error="errors.kec_id" :parent_id="form.kota_id" :readonly="form.kota_id ? false : true" hasParent/>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <label for="input-default">Desa/Kelurahan</label>
                                    </div>
                                    <div class="col-md-9">
                                        <daerah-select type="kelurahan" v-model="form.kel_id" :error="errors.kel_id" :parent_id="form.kec_id" :readonly="form.kec_id ? false : true" hasParent/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <label for="input-default">Kode Pos</label>
                                    </div>
                                    <div class="col-md-9">
                                        <b-form-input id="input-default" size="sm" v-model="form.postal_code"></b-form-input>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <label for="input-default">No Telepon</label>
                                    </div>
                                    <div class="col-md-9">
                                        <b-form-input id="input-default" size="sm" v-model="form.telp"></b-form-input>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <label for="input-default">No Handphone</label>
                                    </div>
                                    <div class="col-md-9">
                                        <b-form-input id="input-default" size="sm" v-model="form.phone"></b-form-input>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <label for="input-default">Email</label>
                                    </div>
                                    <div class="col-md-9">
                                        <b-form-input id="input-default" size="sm" v-model="form.email"></b-form-input>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <label for="input-default">Reseller</label>
                                    </div>
                                    <div class="col-md-9">
                                        <b-form-checkbox v-model="form.is_reseller"></b-form-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-nav-area" v-if="$isMobile()">
                <div class="content">
                    <div class="row">
                        <div class="col-6">
                            <a :href="route('user.sale.customer.index')" class="btn btn-danger me-1 w-100">
                                <i class="fa fa-fw fa-times me-1"></i>
                                Batal
                            </a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary w-100">
                                <i class="fa fa-fw fa-check me-1"></i>
                                Simpan
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </base-layout>
</template>
<script>
import DaerahSelect from '@/Components/Form/DaerahSelect';
export default {
    components :{
        DaerahSelect
    },
    data(){
        return {
            title : 'Tambah Pelanggan',
            loading : false,
            form : {
                id : null,
                name : null,
                address : null,
                prov_id : null,
                kota_id : null,
                kec_id : null,
                kel_id : null,
                postal_code : null,
                phone : null,
                telp : null,
                email : null,
                is_reseller : false,
            }
        }
    },
    props :{
        data : Object,
        editMode : Boolean,
        errors : Object,
    },
    mounted(){
        if(this.editMode){
            this.editModeActive();
        }
    },
    methods : {
        editModeActive(){
                this.title = 'Ubah Customer';
                this.form.id = this.data.id;
                this.form.name = this.data.name;
                this.form.address = this.data.address;
                this.form.prov_id = this.data.prov_id;
                this.form.kota_id = this.data.kota_id;
                this.form.kec_id = this.data.kec_id;
                this.form.kel_id = this.data.kel_id;
                this.form.postal_code = this.data.postal_code;
                this.form.phone = this.data.phone;
                this.form.telp = this.data.telp;
                this.form.email = this.data.email;
                this.form.is_reseller = this.data.is_reseller;
            },
            submit(){
                this.loading = true;
                let form = this.$inertia.form(this.form);
                let url = this.editMode ? this.route("user.sale.customer.update", {id : this.form.id}) : this.route("user.sale.customer.store");
                form.post(url, {
                    preserveScroll: true,
                    onSuccess: () => {
                        this.$bvToast.toast(this.$page.props.flash.message, {
                            autoHideDelay: 15000,
                        });
                    },
                    onFinish : () => {
                        this.loading = false;
                    }
                });
            }
    }
}
</script>