<template>
    <base-layout title="Detail Pelanggan">
        <div class="content">
            <div class="content-heading d-flex justify-content-between align-items-center" v-if="!$isMobile()">
                <span>
                    Detail Pelanggan
                </span>
            </div>
            <div class="block block-rounded block-fx-shadow">
                <div class="block-content p-3">
                    <h2>{{ data.name }}</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="plaintext">
                                <div class="label">Alamat</div>
                                <div class="value">{{  data.address }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Provinsi</div>
                                <div class="value">{{  data.prov }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Kota/Kabupaten</div>
                                <div class="value">{{  data.kota }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Kecamatan</div>
                                <div class="value">{{  data.kec }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Kelurahan/Desa</div>
                                <div class="value">{{  data.kel }}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="plaintext">
                                <div class="label">Kode POS</div>
                                <div class="value">{{  data.postal_code }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">No Telepon</div>
                                <div class="value">{{ data.telp }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">No Handphone</div>
                                <div class="value">{{  data.phone }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Alamat Email</div>
                                <div class="value">{{ data.email }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Reseller</div>
                                <div class="value">
                                    <b-form-checkbox :checked="is_reseller" disabled></b-form-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </base-layout>
</template>
<style lang="scss">

.plaintext{
    display: flex;

    .label {
        font-size: 1rem;
        font-weight: 600;
        width: 35%;
    }

    .value{
        font-size:1rem;
        width: 75%;
    }
}
</style>
<script>
export default {
    props :{
        data : Object
    },
    data(){
        return {
            is_reseller : this.data.is_reseller
        }
    },
    setup() {
        
    },
}
</script>