<template>
    <base-layout :title="data.name" hideFooter>
        <div class="content">
            <div class="content-heading d-flex justify-content-between align-items-center" v-if="!$isMobile()">
                <span>
                    Detail Pengiriman
                </span>
                <div class="space-x-1">
                    <template v-if="!data.state">
                        <button type="button" class="btn btn-sm btn-success" @click.prevent="update">
                            <i class="fa fa-fw fa-check me-1"></i>
                            <span class="d-none d-sm-inline">Konfirmasi</span>
                        </button>
                    </template>
                </div>
            </div>
            <div class="block block-rounded block-fx-shadow">
                <div class="block-content p-3">
                    <h2>{{ data.name }}</h2>
                    <div class="row mb-md-4">
                        <div class="col-md-6">
                            <div class="row mb-2">
                                <div class="col-5 d-flex">
                                    <label for="input-ref" class="my-auto fw-semibold">Pelanggan</label>
                                </div>
                                <div class="col-7 text-end text-md-start">
                                    {{  data.partner }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 d-flex">
                                    <label for="input-ref" class="my-auto fw-semibold">No Pesanan</label>
                                </div>
                                <div class="col-7 text-end text-md-start">
                                    {{  data.source }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 d-flex">
                                    <label for="input-ref" class="my-auto fw-semibold">No Surat Jalan</label>
                                </div>
                                <div class="col-7 text-end text-md-start">
                                    <template v-if="data.state">

                                    </template>
                                    <template v-else>
                                        <input type="text" class="form-control form-control-sm" :class="{'is-invalid' : errors.ref}" id="input-ref" v-model="form.ref" >
                                        <div id="input-ref" class="invalid-feedback"></div>
                                    </template>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-5">
                                    <label for="input-ref" class="my-auto fw-semibold">Jadwal Pengiriman</label>
                                </div>
                                <div class="col-7 text-end text-md-start">
                                    {{ date(data.schedule_date) }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-5">
                                    <label for="input-ref" class="my-auto fw-semibold">Unit Armada</label>
                                </div>
                                <div class="col-7 text-end text-md-start">
                                    <template v-if="data.state">{{ data.armada }}</template>
                                    <vehicle-select v-model="form.armada_id" size="md" :error="errors.armada_id" @selected="getCapacity" v-else/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <template v-if="$isMobile()">
                        <div class="form-check form-block" v-for="(line, index) in data.lines" :key="index">
                            <input class="form-check-input" type="checkbox" :value="true" v-model="lines[index].state" :id="'cattle-'+index" :disabled="data.state">
                            <label class="form-check-label p-2" :for="'cattle-'+index">
                                <div class="d-flex">
                                    <img :src="line.cattle.image" class="cattle-img"/>
                                <div class="ps-3">
                                    <h5 class="fs-6 fw-bold mb-1">{{ line.cattle.eartag }}
                                        <small class="d-none d-sm-inline fw-normal ms-2">{{ line.cattle.type }}</small>
                                    </h5>
                                    <p class="text-muted mb-0">
                                        <i class="fa fa-map-pin me-1"></i> {{ line.cattle.location }}<br>
                                        <i class="fa fa-weight-scale"></i> {{  line.cattle.weight }} Kg <br>
                                        <i class="fa fa-venus-mars"></i> {{ line.cattle.jk }}
                                    </p>
                                </div>
                            </div>
                            </label>
                        </div>
                    </template>

                    <table class="table table-bordered table-vcenter" v-else>
                        <thead class="bg-body">
                            <tr>
                                <th>Ternak</th>
                                <th width="50%">Harga</th>
                                <th width="10%">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(line, index) in data.lines" :key="index">
                                <td>
                                    <cattle-select :value="line.cattle_id"  @change="selectCattle(index, $event)" readonly/>
                                </td>
                                <td>
                                    {{ currency(line.price) }}
                                </td>
                                <td>
                                    <b-form-checkbox :checked="lines[index].state" name="check-button" @change="selectedLine(index, $event)" switch :disabled="data.state == 1 ? true : false"></b-form-checkbox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="footer-nav-area"  v-if="$isMobile() && !data.state">
            <div class="content">
                <button type="button" class="btn btn-sm btn-success" @click.prevent="update">
                    <i class="fa fa-fw fa-check me-1"></i>
                   Konfirmasi
                </button>
            </div>
        </div>
    </base-layout>
</template>
<style scoped>
.form-check-input:disabled + .form-check-label {
    opacity : 1 !important;
}
.cattle-img{
    display: block;
    border-radius: 8px;
    width: 100%;
    max-width: 85px;
    min-width: 85px;
    height: 100%;
    min-height: 85px;
    max-height: 85px;
    object-fit: cover;
 }
</style>
<script>
import ImageUpload from '@/Components/Form/ImageUpload';
import moment from 'moment';
import flatPickr from 'vue-flatpickr-component';
import CattleSelect from '../Cattle/CattleSelect.vue';
import VehicleSelect from './VehicleSelect.vue';
export default {
    props :{
        data : Object,
        errors : Object
    },
    components : {
        flatPickr,
        CattleSelect,
        VehicleSelect,
        ImageUpload
    },
    data(){
        return {
            loading : false,
            form : {
                date_done : new Date(),
                location_id : null,
                ref : null,
                armada_id : null,
                backorder : false,
                total_weight : 0,
            },
            lines : [],
            dateConfig: {
                altFormat: 'j F Y H:i',
                altInput: true,
                dateFormat: 'Y-m-d H:i',
                showMonths: 1,
                enableTime: true,
                time_24hr: true
            },
        }
    },
    created(){
        if(this.data.lines.length > 0){
            this.lines = [];
            this.data.lines.forEach((value, index) => {
                let line = {
                    id : value.id,
                    state : value.state ? true : false,
                }
                this.lines.push(line);
            });
        }
    },
    methods : {
        getCapacity(e){
            console.log(e);
        },
        selectCattle(i, e){
            this.lines[i].cattle_id = e.id;
            this.lines[i].weight = e.weight;
            this.lines[i].eartag = e.eartag;
            this.lines[i].jk = e.jk;
        },
        selectedLine(i, e){
            this.lines[i].state = e;
        },
        date(value){
            if (value) {
                return moment(String(value)).format('DD MMMM YYYY hh:mm')
            }
        },
        update(){
            this.loading = true;
            this.form.backorder = this.lines.every(({ state }) => state);
            let data = Object.assign(this.form, {
                    lines : this.lines,
                }
            );
            

            let form = this.$inertia.form(data)
            let url = this.route("user.inventory.update", {state : 'out', id : this.data.id });
            form.post(url, {
                preserveScroll: true,
                resetOnSuccess: true,
                onSuccess: () => {
                    this.$bvToast.toast(this.$page.props.flash.message, {
                        autoHideDelay: 15000,
                    });
                },
                onFinish: () => {
                    this.loading = false;
                },
            });
        }
    }
}
</script>