<template>
    <div>
        <a class="block block-bordered rounded-2 mb-2">
            <div class="block-content d-flex justify-content-between p-2">
                <div class="text-left">
                    <div class="fw-semibold fs-6">{{ data.type }}</div>
                    <div class="fs-sm">
                        {{ data.jk }}
                    </div>
                    <div class="fs-sm">
                        {{ date(data.dob)}}
                    </div>
                </div>
                <div class="text-end">
                    <template v-if="data.investor_id">
                        <div class="fw-semibold fs-6">{{ data.investor }}</div>
                        <div class="fs-sm">
                            <span>Bagi Hasil : </span>
                            <span class="ms-1">{{ data.percentage }}%</span>
                        </div>
                        <div class="fs-sm">
                            <span class="ms-1">{{ date2(data.mou_date) }}</span>
                        </div>
                    </template>
                </div>
            </div>
            <div class="block-content d-flex justify-content-between border-top border-2 p-2">
                <div class="text-start">
                    {{ data.weight }} Kg
                </div>
                <div class="text-end fw-bold fs-6">
                    {{ currency(data.price) }}
                </div>
            </div>
        </a>
    </div>
</template>
<script>
export default {
    name : "receipt-line",
    props : {
        data : Object,
    },
    setup() {
        
    },
}
</script>