<template>
    <base-layout title="Penerimaan">
        <div class="content" v-if="$isMobile()">
            <a v-for="(item, i) of dataList" :key="i" class="block block-trans" :href="route('user.inventory.show', { state : 'in', id : item.id })">
                <div class="block-content">
                    <div class="info">
                        <h2 class="fs-5 fw-semibold mb-0">{{ item.name }}
                            <small>
                                <span class="badge bg-success" v-if="item.state">Dikirim</span>
                                <span class="badge bg-danger" v-else>Batal</span>
                            </small>
                        </h2>
                        <p class="text-muted mb-0">
                            {{ item.partner }} <br>
                            {{ date(item.schedule_date) }}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="content" v-else>
            <div class="content-heading d-flex justify-content-between align-items-center">
                <span>
                    List Penerimaan
                </span>
            </div>
            <div class="block">
                <div class="block-content p-0">
                    <EasyDataTable
                        v-model:server-options="options"
                        :server-items-length="dataTotal"
                        :loading="loading"
                        :headers="headers"
                        :items="dataList"
                        table-class-name="datatable"
                    >

                    <template #item-schedule_date="item">
                        {{ date(item.schedule_date) }}
                    </template>
                    <template #item-state="item">
                        <span class="badge bg-success" v-if="item.state">Selesai</span>
                        <span class="badge bg-warning" v-else>Pending</span>
                    </template>
                    <template #item-options="item">
                        <a :href="route('user.inventory.show', { state : 'in', id : item.id })" class="btn btn-sm btn-alt-secondary me-1" v-tippy="'Detail!'">
                            <i class="fa fa-eye"></i>
                        </a>
                    </template>
                    </EasyDataTable>
                </div>
            </div>
        </div>
    </base-layout>
</template>
<script>
import axios from 'axios';
import EasyDataTable from 'vue3-easy-data-table';
import moment from 'moment';
export default {
    components : {
        EasyDataTable
    },  
    data () {
      return {
        dataList: [],
        dataTotal : 0,
        loading: false,
        options: {},
        currentPage : 1,
        source : this.route().params.source == undefined ? null : this.route().params.source,
        headers: [
            { text: "NOMOR", value: "name" },
            { text: "JADWAL PENERIMAAN", value: "schedule_date"},
            { text: "SUPPLIER", value: "partner"},
            { text: "NO PEMBELIAN", value: "source"},
            { text: "BACK ORDER", value: "parent"},
            { text: "STATUS", value: "state"},
            { text: "AKSI", value: "options", width : 135},
        ],
        options :{
            page: 1,
            rowsPerPage: 5,
            sortBy: 'name',
            sortType: 'desc',
        }
      }
    },
    created(){
        this.fetchData();
    },  
    methods: {
        date(value){
            if (value) {
                return moment(String(value)).format('DD MMMM YYYY hh:mm')
            }
        },
        async fetchData(page = 1){
            const self = this;
            let params = {
                type : 'in',
                page : page,
                source : this.source,
                limit : this.options.rowsPerPage,
                sort : this.options.sortBy,
                sortDir : this.options.sortType
            }

            await axios.get(this.route("user.inventory.data"),{
                params: params
            })
            .then(function (response) {
                const resp = response.data;
                self.dataList = resp.data;
                self.dataTotal = resp.total;
                self.loading = false;
            })
            .catch(function (error) {
                
            })
        },
        remove(id){
            this.$swal.fire({
                icon: 'warning',
                title: 'Kamu Yakin?',
                text: `Data yang dihapus tidak bisa kembali!`,
                showCancelButton: true,
                cancelButtonText: 'Tidak, Batal',
                confirmButtonText: 'Ya, Hapus!',
            }).then((result) => {
                if (result.isConfirmed) {
                    this.$inertia.delete(this.route('user.purchase.supplier.delete', {id : id}), {
                        preserveScroll: true
                    })
                }
            })
        },
    },
}
</script>