<template>
    <div>
        <VueSelect label="name"
         :options="options"
         :reduce="(option) => option.id"
         class="form-control p-0" :class="{'is-invalid' : error, sizeclass }"
         :disabled="readonly"
         @option:selected="onSelect"
         v-model="selected">
        <template #option="{ number, name }">
            {{ number }} - {{ name }}
        </template>
        <template #selected-option="{ number, name }">
            {{ number }} - {{ name }}
        </template>

        </VueSelect>
        <div class="invalid-feedback" v-if="error">{{ error }}</div>
    </div>
</template>

<style>
.vs__dropdown-toggle {
    border: none !important;
}
</style>
<script>

import VueSelect from 'vue-select';
import _ from 'lodash';
import axios from 'axios';
export default {
    name : 'vehicle-select',
    components: {
        VueSelect
    },
    watch : {
        selected(value) {
            if(!value){
                this.$emit('update:modelValue', null)
            }else{
                this.$emit('update:modelValue', value)
            }
        },
        modelValue(v){
            this.selected = v
        },
    },
    mounted (){
        this.getSelection();
    },
    props : {
        error : String,
        modelValue : Number,
        size : String,
        readonly : {
            type : Boolean,
            default : false,
        }
    },
    computed : {
        sizeclass(){
            if (this.size == 'sm'){
                return 'sm'
            }else if(this.size == 'lg'){
                return 'lg'
            }
            return ''
        }
    },
    data(){
        return {
            options : [],
            selected : this.modelValue,
            search : null,
        }
    },
    methods :{
        onSelect(e){
            console.log(e);
            this.$emit('selected', e.max_weight);
        },
        onSearch(search, loading) {
            if(search.length) {
                this.search = search;
                this.getSelection();
            }
        },
        async getSelection(){
            const self = this;
            var params = {
                id: self.selected,
            };

            if(this.search){
                let search = {
                    search : this.search
                }
                params = Object.assign(params, search)
            }
            await axios.get(this.route("user.inventory.vehicle.data"), {
                params
            })
            .then(function (response) {
                const resp = response.data;
                self.options = resp;
            })
            .catch(function (error) {
                
            })
        },
    },
}
</script>