<template>
    <base-layout title="Unit Armada">
        <div class="content" v-if="$isMobile()">
            <div v-for="(d, i) of dataList" :key="i" class="block block-trans">
                <div class="block-content">
                    <div class="info">
                        <h2 class="fs-5 fw-semibold mb-0">{{ d.number }}</h2>
                        <h2 class="fs-6 fw-semibold mb-0">{{ d.name }}</h2>
                        <p class="text-muted mb-0">
                            Maks. Kapasitas : {{ d.max_weight }} Kg
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" v-else>
            <div class="content-heading d-flex justify-content-between align-items-center">
                <span>
                    List Unit Armada
                </span>
                <div class="space-x-1">
                    <b-button variant="primary" size="sm" @click="modal = !modal">
                        <i class="fa fa-plus me-1"></i>
                        <span>Tambah Unit Armada</span>
                    </b-button>
                </div>
            </div>
            <div class="block">
                <div class="block-content p-0">
                    <EasyDataTable
                        v-model:server-options="options"
                        :server-items-length="dataTotal"
                        :loading="loading"
                        :headers="headers"
                        :items="dataList"
                        table-class-name="datatable"
                    >
                    <template #item-address="item">
                        <div>{{ item.address }}</div>
                        <div>{{ item.kel }}, {{ item.kec }}, {{ item.kota }}, {{ item.prov }}</div>
                    </template>
                    <template #item-options="item">
                        <button  class="btn btn-sm btn-alt-secondary me-1" @click.prevent="edit(item.id)">
                            <i class="fa fa-pen-to-square"></i>
                        </button>
                        <button  class="btn btn-sm btn-alt-secondary me-1" @click.prevent="remove(item.id)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </template>
                    </EasyDataTable>
                </div>
            </div>
        </div>
        <b-modal id="modal-block-normal"  v-model="modal" body-class="p-0" hide-footer hide-header>
            <form @submit.prevent="submit">
                <div class="block block-rounded mb-0">
                    <div class="block-header">
                        <h3 class="block-title">{{ title }}</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" @click.prevent="reset">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="mb-3">
                            <label for="input-name">Model</label>
                            <input type="text" class="form-control form-control-sm" :class="{'is-invalid' : errors.name}" id="input-name" v-model="form.name" >
                            <div class="invalid-feedback" v-if="errors.name">{{ errors.name[0] }}</div>
                        </div>
                        <div class="mb-3">
                            <label for="input-number">No Polisi</label>
                            <input type="text" class="form-control form-control-sm" :class="{'is-invalid' : errors.number}" id="input-number" v-model="form.number" >
                            <div class="invalid-feedback" v-if="errors.number">{{ errors.number[0] }}</div>
                        </div>
                        <div class="mb-3">
                            <label for="input-max_weight">Kapasitas</label>
                            <div class="input-group">
                                <input type="number" class="form-control form-control-sm" v-model="form.max_weight" :class="{'is-invalid' : errors.max_weight}">
                                <span class="input-group-text">Kg</span>
                                <div class="invalid-feedback" v-if="errors.max_weight">{{ errors.max_weight[0] }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="block-content block-content-full text-end border-top">
                        <b-button variant="danger" class="me-1" @click.prevent="reset">Batal</b-button>
                        <b-button type="submit" variant="primary">Simpan</b-button>
                    </div>
                </div>
            </form>
        </b-modal>
    </base-layout>
</template>
<script>
import axios from 'axios';
import EasyDataTable from 'vue3-easy-data-table';
import moment from 'moment';
import DaerahSelect from '@/Components/Form/DaerahSelect';
export default {
    components : {
        EasyDataTable,
        DaerahSelect
    },
    data () {
      return {
        modal : false,
        editMode : false,
        title : 'Tambah Unit Armada',
        form : {
            id : null,
            number : null,
            name : null,
            max_weight : null,
        },
        errors : {},
        dataList: [],
        dataTotal : 0,
        loading: false,
        options: {},
        currentPage : 1,
        headers: [
            { text: "NO POLISI", value: "number" },
            { text: "MODEL", value: "name"},
            { text: "BERAT MAX", value: "max_weight"},
            { text: "AKSI", value: "options", width : 135},
        ],
        options :{
            page: 1,
            rowsPerPage: 5,
            sortBy: 'name',
            sortType: 'desc',
        }
      }
    },
    created(){
        this.fetchData();
    },  
    methods: {
        date(value){
            if (value) {
                return moment(String(value)).format('DD MMMM YYYY hh:mm')
            }
        },

        async fetchData(page = 1){
            const self = this;
            let params = {
                type : 'in',
                page : page,
                limit : this.options.rowsPerPage,
                sort : this.options.sortBy,
                sortDir : this.options.sortType
            }

            await axios.get(this.route("user.inventory.vehicle.data"),{
                params: params
            })
            .then(function (response) {
                const resp = response.data;
                self.dataList = resp.data;
                self.dataTotal = resp.total;
                self.loading = false;
            })
            .catch(function (error) {
                
            })
        },
        remove(id){
            this.$swal.fire({
                icon: 'warning',
                title: 'Kamu Yakin?',
                text: `Data yang dihapus tidak bisa kembali!`,
                showCancelButton: true,
                cancelButtonText: 'Tidak, Batal',
                confirmButtonText: 'Ya, Hapus!',
            }).then((result) => {
                if (result.isConfirmed) {
                    this.$inertia.delete(this.route('user.inventory.vehicle.delete', {id : id}), {
                        preserveScroll: true
                    })
                }
            })
        },
        async edit(id){
            const self = this;
            await axios.get(this.route("user.inventory.vehicle.edit", {id : id}))
            .then(function (response) {
                const resp = response.data;
                self.title = 'Ubah Lokasi';
                self.editMode = true;
                self.form.id = resp.id;
                self.form.name = resp.name;
                self.form.number = resp.number;
                self.form.max_weight = resp.max_weight;
                self.modal = true;
            })
            .catch(function (error) {
                
            })
        },
        reset(){
            this.modal = false;
            this.title = 'Tambah Lokasi';
            this.form.id = null;
            this.form.name = null;
            this.form.address = null;
            this.form.code = null;
            this.form.prov_id = null;
            this.form.kota_id = null;
            this.form.kec_id = null;
            this.form.kel_id = null;
        },
        async submit(){
            const self = this;
            self.loading = true;
            let url = this.editMode ? this.route("user.inventory.vehicle.update", {id : this.form.id}) : this.route("user.inventory.vehicle.store");
            let form = this.$inertia.form(this.form);
            await axios.post(url, this.form)
            .then(function (response) {
                self.loading = false;
                const resp = response.data;
                if(resp.fail){
                    self.errors = resp.errors;
                }else{
                    self.modal = false;
                    self.reset();
                    self.fetchData();
                }
            })
            .catch(function (error) {
                console.log(error);
            })
        }
    },
}
</script>