<template>
    <base-layout title="Investasi">
        <div class="content" v-if="$isMobile()">
            <div v-for="(d, i) of dataList" :key="i" class="block block-trans" @click="show(d.id)">
                <div class="block-content">
                    <div class="info">
                        <h2 class="fs-5 fw-semibold mb-0">{{ d.name }}</h2>
                        <p class="text-muted mb-0">
                            {{ d.investor }} <br>
                            {{ date(d.date) }}
                        </p>
                    </div>
                    <div class="my-auto">
                        <div class="fs-5 fw-semibold">{{ currency(d.amount) }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" v-else>
            <div class="content-heading d-flex justify-content-between align-items-center">
                <span>
                    List Investasi
                </span>
                <div class="space-x-1">
                    <b-button variant="primary" size="sm" @click="modal = !modal">
                        <i class="fa fa-plus me-1"></i>
                        <span>Tambah Investasi</span>
                    </b-button>
                </div>
            </div>
            <div class="block">
                <div class="block-content p-0">
                    <EasyDataTable
                        v-model:server-options="options"
                        :server-items-length="dataTotal"
                        :loading="loading"
                        :headers="headers"
                        :items="dataList"
                        table-class-name="datatable"
                    >
                    <template #item-date="item">
                        <div>{{ date(item.date) }}</div>
                    </template>
                    <template #item-amount="item">
                        <div>{{ currency(item.amount) }}</div>
                    </template>
                    <template #item-options="item">
                        <button  class="btn btn-sm btn-alt-secondary me-1" @click.prevent="edit(item.id)">
                            <i class="fa fa-pen-to-square"></i>
                        </button>
                        <button  class="btn btn-sm btn-alt-secondary me-1" @click.prevent="remove(item.id)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </template>
                    </EasyDataTable>
                </div>
            </div>
        </div>

        
        <div class="floating-container" v-if="$isMobile()">
            <button @click="modal = !modal" class="btn btn-primary btn-floating">
                <i class="fa fa-plus fa-2x"></i>
            </button>
        </div>

        <b-modal 
        id="modal-block-normal"  
        v-model="modal" 
        body-class="p-0" hide-footer hide-header @hide.prevent :dialog-class="{'modal-dialog-slideup m-0' : $isMobile()}">
            <form @submit.prevent="submit">
                <div class="block block-rounded mb-0">
                    <div class="block-header">
                        <h3 class="block-title">{{ title }}</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" @click.prevent="reset">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content p-3">
                        <div class="mb-3">
                            <label for="input-number">Tanggal</label>
                            <flat-pickr class="bg-white" :config="dateConfig" v-model="form.date"></flat-pickr>
                        </div>
                        <div class="mb-3">
                            <label for="input-number">Investor</label>
                            <investor-select v-model="form.investor_id"/>
                            <div class="invalid-feedback" v-if="errors.type">{{ errors.type[0] }}</div>
                        </div>
                        <div class="mb-3">
                            <label for="input-number">Metode Pembayaran</label>
                            <PaymetnMethodSelect v-model="form.payment_method_id"/>
                            <div class="invalid-feedback" v-if="errors.payment_method_id">{{ errors.payment_method_id[0] }}</div>
                        </div>
                        <div class="mb-3">
                            <label for="input-number">Jumlah</label>
                            <CurrencyInput :value="form.amount" @change="$e => form.amount = $e" class="form-control" :class="{'is_invalid' : errors.amount}"/>
                            <div class="invalid-feedback" v-if="errors.amount">{{ errors.amount[0] }}</div>
                        </div>
                    </div>
                    <div class="block-content p-3 text-end border-top" :class="{'d-flex p-2' : $isMobile()}">
                        <b-button variant="danger" class="me-1" @click.prevent="reset" :class="{'w-50' : $isMobile()}">Batal</b-button>
                        <b-button type="submit" variant="primary" :class="{'w-50' : $isMobile()}">Simpan</b-button>
                    </div>
                </div>
            </form>
        </b-modal>
        
        <b-modal 
        id="modal-block-normal"  
        v-model="modalDetail" 
        body-class="p-0" hide-footer hide-header @hide.prevent :dialog-class="{'modal-dialog-slideup m-0' : $isMobile()}">
            <div class="block block-rounded mb-0">
                <div class="block-header">
                    <h3 class="block-title">Detail Investasi</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" @click.prevent="modalDetail = false">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content p-3">
                    <h2>{{ detail.name }}</h2>
                    <div class="plaintext">
                        <div class="label">Tanggal</div>
                        <div class="value">{{  date(detail.date) }}</div>
                    </div>
                    <div class="plaintext">
                        <div class="label">Investor</div>
                        <div class="value">{{  detail.investor }}</div>
                    </div>
                    <div class="plaintext">
                        <div class="label">Metode Pembayaran</div>
                        <div class="value">{{  detail.payment_method }}</div>
                    </div>
                    <div class="plaintext">
                        <div class="label">Jumlah</div>
                        <div class="value">{{ currency(detail.amount) }}</div>
                    </div>
                </div>
                <div class="block-content p-3 text-end border-top" :class="{'d-flex p-2' : $isMobile()}">
                    <b-button variant="primary" class="me-1" @click.prevent="edit(detail.id)" :class="{'w-50' : $isMobile()}">Edit</b-button>
                    <b-button variant="danger" @click.prevent="remove(detail.id)" :class="{'w-50' : $isMobile()}">Hapus</b-button>
                </div>
            </div>
        </b-modal>
    </base-layout>
</template>
<script>
import axios from 'axios';
import EasyDataTable from 'vue3-easy-data-table';
import moment from 'moment';
import DaerahSelect from '@/Components/Form/DaerahSelect';
import InvestorSelect from '../Investor/InvestorSelect';
import flatPickr from 'vue-flatpickr-component';
import CurrencyInput from '@/Components/Form/CurrencyInput';
import PaymetnMethodSelect from '../Payment/PaymentMethodSelect.vue';
export default {
    components : {
        EasyDataTable,
        InvestorSelect,
        flatPickr,
        CurrencyInput,
        PaymetnMethodSelect
    },
    data () {
      return {
        modal : false,
        editMode : false,
        modalDetail : false,
        detail :  {},
        title : 'Tambah Investasi',
        form : {
            id : null,
            investor_id : null,
            date : new Date(),
            amount : null,
            payment_method_id : null,
        },
        dateConfig : {
            altFormat: 'j F Y H:i',
            altInput: true,
            dateFormat: 'Y-m-d H:i',
            showMonths: 1,
            enableTime: true,
            time_24hr: true,
            disableMobile : true
        },
        errors : {},
        dataList: [],
        dataTotal : 0,
        loading: false,
        currentPage : 1,
        headers: [
            { text: "TANGGAL", value: "date", width: 150 },
            { text: "NOMOR", value: "name", width: 150},
            { text: "INVESTOR", value: "investor"},
            { text: "PEMBAYARAN", value: "payment_method"},
            { text: "JUMLAH", value: "amount"},
            { text: "AKSI", value: "options", width : 135},
        ],
        options :{
            page: 1,
            rowsPerPage: 5,
            sortBy: 'name',
            sortType: 'desc',
        }
      }
    },
    created(){
        this.fetchData();
    },  
    methods: {
        date(value){
            if (value) {
                return moment(String(value)).format('DD MMMM YYYY hh:mm')
            }
        },

        async fetchData(page = 1){
            const self = this;
            let params = {
                type : 'in',
                page : page,
                limit : this.options.rowsPerPage,
                sort : this.options.sortBy,
                sortDir : this.options.sortType
            }

            await axios.get(this.route("user.finance.invest.data"),{
                params: params
            })
            .then(function (response) {
                const resp = response.data;
                self.dataList = resp.data;
                self.dataTotal = resp.total;
                self.loading = false;
            })
            .catch(function (error) {
                
            })
        },
        remove(id){
            this.$swal.fire({
                icon: 'warning',
                title: 'Kamu Yakin?',
                text: `Data yang dihapus tidak bisa kembali!`,
                showCancelButton: true,
                cancelButtonText: 'Tidak, Batal',
                confirmButtonText: 'Ya, Hapus!',
            }).then((result) => {
                if (result.isConfirmed) {
                    this.$inertia.delete(this.route('user.finance.invest.delete', {id : id}), {
                        preserveScroll: true
                    })
                }
            })
        },
        async show(id){
            const self = this;
            await axios.get(this.route("user.finance.invest.edit", {id : id}))
            .then(function (response) {
                const resp = response.data;
                self.detail = resp;
                self.modalDetail = true;
            })
            .catch(function (error) {
                
            })
        },
        async edit(id){
            const self = this;
            self.modalDetail = false;
            await axios.get(this.route("user.finance.invest.edit", {id : id}))
            .then(function (response) {
                const resp = response.data;
                self.title = 'Ubah Investasi';
                self.editMode = true;
                self.form.id = resp.id;
                self.form.date = resp.date;
                self.form.investor_id = resp.investor_id;
                self.form.payment_method_id = resp.payment_method_id;
                self.form.amount = resp.amount;
                self.modal = true;
            })
            .catch(function (error) {
                
            })
        },
        reset(){
            this.modal = false;
            this.title = 'Tambah Investasi';
            this.form.id = null;
            this.form.investor_id = null;
            this.form.date = new Date();
            this.form.payment_method_id = null;
            this.form.amount = null;
            this.editMode = false;
        },
        async submit(){
            const self = this;
            self.loading = true;
            let url = this.editMode ? this.route("user.finance.invest.update", {id : this.form.id}) : this.route("user.finance.invest.store");
            let form = this.$inertia.form(this.form);
            await axios.post(url, this.form)
            .then(function (response) {
                self.loading = false;
                const resp = response.data;
                if(resp.fail){
                    self.errors = resp.errors;
                }else{
                    self.modal = false;
                    self.reset();
                    self.fetchData();
                }
            })
            .catch(function (error) {
                console.log(error);
            })
        }
    },
}
</script>