<template>
    <base-layout>
        <div class="content">
            <div class="content-heading d-flex justify-content-between align-items-center">
                <span>
                    Detail Investasi
                </span>
            </div>
            <div class="block block-rounded block-fx-shadow">
                <div class="block-content p-3">
                    <h2>{{ data.name }}</h2>
                    <div class="plaintext">
                        <div class="label">Tanggal</div>
                        <div class="value">{{  date(data.date) }}</div>
                    </div>
                    <div class="plaintext">
                        <div class="label">Investor</div>
                        <div class="value">{{  data.investor }}</div>
                    </div>
                    <div class="plaintext">
                        <div class="label">Metode Pembayaran</div>
                        <div class="value">{{  data.payment_method }}</div>
                    </div>
                    <div class="plaintext">
                        <div class="label">Jumlah</div>
                        <div class="value">{{ currency(data.amount) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </base-layout>
</template>
<style lang="scss">

.plaintext{
    display: flex;

    .label {
        font-size: 1rem;
        font-weight: 600;
        width: 35%;
    }

    .value{
        font-size:1rem;
        width: 75%;
    }
}
</style>
<script>
export default {
    props :{
        data : Object
    },
    data(){
        return {
            is_reseller : this.data.is_reseller
        }
    },
    setup() {
        
    },
}
</script>