<template>
    <base-layout title="List Investor">
        <div class="content" v-if="$isMobile()">
            <a v-for="(d, i) of dataList" :key="i" class="block block-trans" :href="route('user.purchase.supplier.show', { id : d.id })">
                <div class="block-content">
                    <div class="info">
                        <h2 class="fs-5 fw-semibold mb-0">{{ d.name }}</h2>
                        <p class="text-muted mb-0">
                            {{ d.address }}<br>
                            {{ d.kel }}, {{ d.kec }}, {{ d.kota }}, {{ d.prov }}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="content" v-else>
            <div class="content-heading d-flex justify-content-between align-items-center">
                <span>
                    List Investor
                </span>
                
                <a :href="route('user.purchase.investor.create')" class="btn btn-sm btn-primary">
                    <i class="fa fa-plus me-1"></i>
                    <span>Tambah Investor</span>
                </a>
            </div>

            <div class="block">
                <div class="block-content p-0">
                    <EasyDataTable
                        v-model:server-options="options"
                        :server-items-length="dataTotal"
                        :loading="loading"
                        :headers="headers"
                        :items="dataList"
                        table-class-name="datatable"
                    >
                    <template #item-address="item">
                        <div>{{ item.address }}</div>
                        <div>{{ item.kel }}, {{ item.kec }}, {{ item.kota }}, {{ item.prov }}</div>
                    </template>
                    <template #item-options="item">
                        <a :href="route('user.purchase.investor.show', { id : item.id })" class="btn btn-sm btn-alt-secondary me-1" v-tippy="'Detail!'">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a :href="route('user.purchase.investor.edit', { id : item.id })" class="btn btn-sm btn-alt-secondary me-1" v-tippy="'Edit!'">
                            <i class="fa fa-pen-to-square"></i>
                        </a>
                        <button  class="btn btn-sm btn-alt-secondary me-1" @click.prevent="remove(item.id)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </template>
                    </EasyDataTable>
                </div>
            </div>
        </div>
        <div class="floating-container" v-if="$isMobile()">
            <a :href="route('user.purchase.investor.create')" class="btn btn-primary btn-floating">
                <i class="fa fa-plus fa-2x"></i>
            </a>
        </div>
    </base-layout>
</template>
<script>
import axios from 'axios';
import EasyDataTable from 'vue3-easy-data-table';
export default {
    components : {
        EasyDataTable
    },  
    data () {
      return {
        dataList: [],
        dataTotal : 0,
        loading: false,
        options: {},
        currentPage : 1,
        headers: [
            { text: "INVESTOR", value: "name" },
            { text: "ALAMAT", value: "address", width : 310},
            { text: "EMAIL", value: "email"},
            { text: "NO HANDPHONE", value: "phone"},
            { text: "TOTAL TERNAK", value: "total_ternak"},
            { text: "AKSI", value: "options", width : 135},
        ],
        options :{
            page: 1,
            rowsPerPage: 5,
            sortBy: 'name',
            sortType: 'desc',
        }
      }
    },
    created(){
        this.fetchData();
    },  
    methods: {
        async fetchData(page = 1){
            const self = this;
            let params = {
                page : page,
                limit : this.options.rowsPerPage,
                sort : this.options.sortBy,
                sortDir : this.options.sortType
            }

            await axios.get(this.route("user.purchase.investor.data"),{
                params: params
            })
            .then(function (response) {
                const resp = response.data;
                self.dataList = resp.data;
                self.dataTotal = resp.total;
                self.loading = false;
            })
            .catch(function (error) {
                
            })
        },
        remove(id){
            this.$swal.fire({
                icon: 'warning',
                title: 'Kamu Yakin?',
                text: `Data yang dihapus tidak bisa kembali!`,
                showCancelButton: true,
                cancelButtonText: 'Tidak, Batal',
                confirmButtonText: 'Ya, Hapus!',
            }).then((result) => {
                if (result.isConfirmed) {
                    this.$inertia.delete(this.route('user.purchase.investor.delete', {id : id}), {
                        preserveScroll: true
                    })
                }
            })
        },
    },
}
</script>