<template>
    <base-layout>
        <div class="content">
            <div class="content-heading d-flex justify-content-between align-items-center">
                <span>
                    Detail Investor
                </span>
            </div>
            <div class="block block-rounded block-fx-shadow">
                <div class="block-content p-3">
                    <div class="d-flex justify-content-between mb-4">
                        <h2 class="fs-md-2 my-auto fs-3">{{ data.name }}</h2>
                        <template v-if="!$isMobile()">
                            <div class="d-flex space-x-1">
                                <a class="block block-bordered block-link-shadow mb-0 text-end">
                                    <div class="align-items-center block-content block-content-full d-flex justify-content-between p-2">
                                        <div class="me-2"><i
                                                class="fa-2x si si-wallet text-body-bg-dark"></i></div>
                                        <div class="text-end">
                                            <div class="fw-semibold">{{ currency(data.invest) }}</div>
                                            <div class="fs-sm fw-semibold text-uppercase">Investasi</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </template>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="plaintext">
                                <div class="label">Alamat</div>
                                <div class="value">{{  data.address }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Provinsi</div>
                                <div class="value">{{  data.prov }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Kota/Kabupaten</div>
                                <div class="value">{{  data.kota }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Kecamatan</div>
                                <div class="value">{{  data.kec }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Kelurahan/Desa</div>
                                <div class="value">{{  data.kel }}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="plaintext">
                                <div class="label">Kode POS</div>
                                <div class="value">{{  data.postal_code }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">No Telepon</div>
                                <div class="value">{{ data.telp }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">No Handphone</div>
                                <div class="value">{{  data.phone }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Alamat Email</div>
                                <div class="value">{{ data.email }}</div>
                            </div>
                            <div class="plaintext">
                                <div class="label">Bagi Hasil</div>
                                <div class="value">{{ data.email }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </base-layout>
</template>
<style lang="scss">

.plaintext{
    display: flex;

    .label {
        font-size: 1rem;
        font-weight: 600;
        width: 35%;
    }

    .value{
        font-size:1rem;
        width: 75%;
    }
}
</style>
<script>
export default {
    props :{
        data : Object
    },
    data(){
        return {
            is_reseller : this.data.is_reseller
        }
    },
    setup() {
        
    },
}
</script>