<template>
    <div id="page-container" class="main-content-boxed side-scroll header-multiple" :class="{'page-header-fixed' : !hideHeader}">
        <div id="page-loader" class="bg-primary"></div>

        <header id="page-header" v-if="!hideHeader || !$isMobile()">
            <!-- Header Content -->
            <div class="content-header">
                <!-- Left Section -->
                <div class="space-x-1">
                    <!-- Logo -->
                    <a href="javascript:void(0)" class="btn btn-block-option" @click.prevent="routeBack"  v-if="$isMobile()">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="link-fx fw-bold" :href="route('user.dashboard.index')" v-else>
                        <i class="fa fa-fire text-primary"></i>
                        <span class="fs-4 text-dual">Terna</span><span class="fs-4 text-primary">Q</span>
                    </a>
                    <!-- END Logo -->
                </div>
                <!-- END Left Section -->
                
                <div v-if="$isMobile()">
                    <h6 class="mb-0">{{ title }}</h6>
                </div>

                <!-- Right Section -->
                <div class="space-x-1">
                    <slot name="action" v-if="$isMobile()"></slot>
                    <b-dropdown variant="block-option" class="d-inline-block ml-2 p-0" menu-class="p-0 border-0 dropdown-menu-md" right no-caret ref="oneDropdownDefaultUser" v-else>
                        <template #button-content>
                            <div class="d-flex align-items-center">
                                <img class="img-avatar img-avatar32 me-1" :src="$page.props.user.avatar" alt="Header Avatar">
                                <span class="d-none d-sm-inline-block ml-2">{{ $page.props.user.name }}</span>
                                <i class="fa fa-fw fa-angle-down d-none d-sm-inline-block ml-1 mt-1"></i>
                            </div>
                        </template>
                        <div class="p-3 text-center bg-primary rounded-top">
                            <img class="img-avatar img-avatar48 img-avatar-thumb" :src="$page.props.user.avatar" alt="">
                            <p class="mt-2 mb-0 text-white font-w500">{{ $page.props.user.name }}</p>
                        </div>
                        <div class="p-2">
                            <a :href="route('user.settings.profile')" class="dropdown-item d-flex align-items-center justify-content-between">
                                <span class="font-size-sm font-w500">Profil</span>
                            </a>
                            <a :href="route('user.settings.password')" class="dropdown-item d-flex align-items-center justify-content-between">
                                <span class="font-size-sm font-w500">Ubah Password</span>
                            </a>
                            <Link :href="route('logout')" method="post" as="button" class="dropdown-item d-flex align-items-center justify-content-between">
                                <span class="font-size-sm font-w500">Log Out</span>
                            </Link>
                        </div>
                    </b-dropdown>
                </div>
                <!-- END Right Section -->
            </div>
            <!-- END Header Content -->

            <!-- Bottom Header -->
            <div class="content-header d-lg-flex d-none" v-if="!$isMobile()">
                <ul class="nav-main nav-main-horizontal nav-main-hover">
                    <li class="nav-main-item">
                        <a class="nav-main-link active" :href="route('user.dashboard.index')">
                            <i class="nav-main-link-icon fa fa-house-user"></i>
                            <span class="nav-main-link-name">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                            aria-expanded="false" href="#">
                            <i class="nav-main-link-icon fa fa-cart-shopping"></i>
                            <span class="nav-main-link-name">Pembelian</span>
                        </a>
                        <ul class="nav-main-submenu">
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.purchase.create')">
                                    <span class="nav-main-link-name">Buat Pembelian</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.purchase.index')">
                                    <span class="nav-main-link-name">List Pembelian</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.purchase.supplier.index')">
                                    <span class="nav-main-link-name">List Supplier</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.purchase.investor.index')">
                                    <span class="nav-main-link-name">List Investor</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-main-item">
                        <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                            aria-expanded="false" href="#">
                            <i class="nav-main-link-icon fa fa-tag"></i>
                            <span class="nav-main-link-name">Pesanan</span>
                        </a>
                        <ul class="nav-main-submenu">
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.sale.create')">
                                    <span class="nav-main-link-name">Buat Pesanan</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.sale.index')">
                                    <span class="nav-main-link-name">List Pesanan</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.sale.customer.index')">
                                    <span class="nav-main-link-name">List Customer</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="nav-main-item">
                        <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                            aria-expanded="false" href="#">
                            <i class="nav-main-link-icon fa fa-warehouse"></i>
                            <span class="nav-main-link-name">Inventori</span>
                        </a>
                        <ul class="nav-main-submenu">
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.inventory.index', {state : 'out'})">
                                    <span class="nav-main-link-name">Pengiriman</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.inventory.index', {state : 'in'})">
                                    <span class="nav-main-link-name">Penerimaan</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.inventory.location.index')">
                                    <span class="nav-main-link-name">Lokasi & Pent</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.inventory.vehicle.index')">
                                    <span class="nav-main-link-name">Unit Armada</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.inventory.cattle.index')">
                                    <span class="nav-main-link-name">List Ternak</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-main-item">
                        <a class="nav-main-link" :href="route('user.medical.index')">
                            <i class="nav-main-link-icon fa fa-syringe"></i>
                            <span class="nav-main-link-name">Medical Check</span>
                        </a>
                    </li>

                    
                    <li class="nav-main-item">
                        <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
                            <i class="nav-main-link-icon fa fa-wallet"></i>
                            <span class="nav-main-link-name">Finance</span>
                        </a>
                        <ul class="nav-main-submenu">
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.finance.payment.index')">
                                    <span class="nav-main-link-name">Pembayaran</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.finance.cash.index')">
                                    <span class="nav-main-link-name">Kas Operasional</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.finance.invest.index')">
                                    <span class="nav-main-link-name">Investasi</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" :href="route('user.finance.payment_method.index')">
                                    <span class="nav-main-link-name">Metode Pembayaran</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
            <!-- END Bottom Header -->
        </header>

        <main class="bg-grey-lighten-3" id="main-container">
            <slot/>
        </main>
        
        <!-- Footer -->
        <footer :class="{'footer-nav-area' : $isMobile()}" id="page-footer" v-if="!hideFooter || !$isMobile()">
            <div class="content p-0 p-md-3">
                <template v-if="$isMobile()">
                    <div class="footer-nav position-relative">
                        <slot name="footerAction">
                            <ul class="h-100 d-flex align-items-center justify-content-between ps-0">
                                <li :class="{'active' : route().current('user.dashboard.index') }">
                                    <a :href="route('user.dashboard.index')">
                                        <svg class="bi bi-house" width="20" height="20" viewBox="0 0 16 16" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z">
                                            </path>
                                            <path fill-rule="evenodd"
                                                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z">
                                            </path>
                                        </svg><span>Home</span>
                                    </a>
                                </li>
                                <li :class="{'active' : route().current('user.sale.index') }">
                                    <a :href="route('user.sale.index')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                        </svg>
                                        <span>Pesanan</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" @click="$refs.myBottomSheet.open()">
                                        <svg class="bi bi-folder2-open" width="20" height="20" viewBox="0 0 16 16" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z">
                                            </path>
                                        </svg>
                                        <span>Menu</span>
                                    </a>
                                </li>
                                <li :class="{'active' : route().current('user.purchase.*') }">
                                    <a :href="route('user.purchase.index')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                            <path
                                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                        </svg>
                                        <span>Pembelian</span>
                                    </a>
                                </li>
                                <li :class="{'active' : route().current('user.settings.*') }">
                                    <a :href="route('user.settings.index')">
                                        <svg class="bi bi-gear" width="20" height="20" viewBox="0 0 16 16" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z">
                                            </path>
                                            <path fill-rule="evenodd"
                                                d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z">
                                            </path>
                                        </svg>
                                        <span>Pengaturan</span>
                                    </a>
                                </li>
                            </ul>
                        </slot>
                    </div>
                </template>
                <div class="row mx-0" v-else>
                    <div class="col-sm-6 order-sm-2 py-1 text-center text-sm-end">
                        Crafted with <i class="fa fa-heart text-danger"></i> by <a class="fw-semibold"
                            href="https://1.envato.market/ydb" target="_blank">Mochammad Lutfi</a>
                    </div>
                    <div class="col-sm-6 order-sm-1 py-1 text-center text-sm-start">
                        <a class="fw-semibold" href="https://1.envato.market/95j" target="_blank">TernaQu 1.00</a> © <span
                            data-toggle="year-copy" class="js-year-copy-enabled">2023</span>
                    </div>
                </div>
            </div>
            
            <vue-bottom-sheet ref="myBottomSheet" max-height="90%" :background-scrollable="false">
                <div class="bottom-menu">
                    <h6 class="fs-5 text-center">Menu List</h6>
                    <div class="menu-mob">
                        <div class="row">
                            <div class="col-3" v-for="(d, i) in data" :key="i">
                                <a class="block shadow-none" :href="d.route">
                                    <div class="block-content p-0 text-center">
                                        <i class="fa-2x" :class="d.icon_src" v-if="d.icon_type == 'font'"></i>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 20 20" v-html="d.icon_src" v-else-if="d.icon_type == 'svg'">
                                        
                                        </svg>
                                        <img :src="d.icon_src" v-else>
                                        <div class="fw-medium mb-0">{{ d.name }}</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </vue-bottom-sheet>
        </footer>
        <!-- END Footer -->
    </div>
</template>
<style scoped>
.menu-mob{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}
</style>
<script>
import BaseHeader from "./Partials/BaseHeader";
import BaseFooter from "./Partials/BaseFooter";
import { VueBottomSheet } from "@webzlodimir/vue-bottom-sheet";
import { Link } from '@inertiajs/vue3';
export default {
    name : 'base-layout',
    components : {
        BaseHeader,
        BaseFooter,
        VueBottomSheet,
        Link
    },
    props : {
        hideHeader : {
            type : Boolean,
            default : false,
        },
        title : {
            type : String,
            default : "Page Title"
        },
        hideFooter : {
            type : Boolean,
            default : false
        }
    },
    data(){
        return {
            data : [],
        }
    },
    created(){
        this.fetchMenu();
    },
    methods : {
        routeBack(){
            if(window.history.length > 1 && document.referrer.indexOf(window.location.host) !== -1) {
                return window.history.back();
            }else {
                if(this.back){
                    return window.location.href = this.route(this.back);
                }

                return window.location.href = this.route('user.dashboard.index');
            }
        },
        open() {
            this.$refs.myBottomSheet.open();
        },
        close() {
            this.$refs.myBottomSheet.close();
        },
        
        async fetchMenu(){
            const self = this;
            await axios.get(this.route("base.menu"))
            .then(function (response) {
                const resp = response.data;
                self.data = resp;
            })
            .catch(function (error) {
                alert('Menu tidak bisa di load');
            })
        },
    }
}
</script>