<template>
    <div id="page-container" class="main-content-boxed">

        <!-- Main Container -->
        <main id="main-container">
            <slot />
        </main>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
</template>

<script>
export default {
    name : 'guest-layout',
    components: {
    }
}
</script>
