<template>
    <BaseLayout>
        <div class="auth-wrapper">
            <div class="block block-rounded block-fx-shadow">
                <div class="block-content block-content-full">
                    <form @submit.prevent="submit">
                        <div class="text-center mb-md-5">
                            <img src="/media/logo/logo.png" class="img-fluid"/>
                        </div>
                        <div class="mb-4">    
                            <h1 class="h3 fw-bold mb-2">Lupa Password</h1>
                            <h2 class="fs-base fw-medium text-muted mb-0">Masukan username/email. Untuk mengirim link reset password!</h2>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="field_login-email">Username / Email
                                <span class="text-danger">*</span>
                            </label>
                            <input type="text" v-bind:class="{'form-control':true, 'is-invalid' : errors.email}" id="login-username" v-model="form.email" autofocus>
                            <div v-if="errors.email" class="invalid-feedback">
                                {{ errors.email[0] }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100" :disabled="loading">
                            <b-spinner small v-if="loading"></b-spinner>
                            Kirim Link
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </BaseLayout>
</template>

<script>
import BaseLayout from "@/Layouts/Guest";
export default {
    components: {
        BaseLayout,
    },
    props: {
        canResetPassword: Boolean,
        status: String,
        errors: Object,
    },
    data() {
        return {
            form: this.$inertia.form({
                email: '',
            }),
            loading : false,
        }
    },

    methods: {
        submit() {
            this.loading = true;
            this.form.post(this.route('password.email'), {
                onSuccess: () => {
                    // this.$swal.fire({
                    //     toast : true,
                    //     position: 'top-end',
                    //     showConfirmButton: false,
                    //     timer: 3000,
                    //     title: this.$page.props.flash.message,
                    //     icon: 'success',
                    // });
                },
                onFinish: () => {
                    this.loading = false;
                    this.form.reset('password');
                },
            })
        }
    }
 }

</script>
