<template>
    <guest-layout>
       <div class="d-flex vh-100">
        <div class="content content-full my-auto">
            <div class="row justify-content-center">
                <div class="col-md-4 col-xl-4 align-items-center">
                    <div class="py-5 text-center">
                        <a :href="route('login')">
                           <img src="/images/logo-ver.png" class="img-fluid"/>
                        </a>
                        <h1 class="h3 fw-bold mt-1 mb-2">Masuk Sekarang</h1>
                    </div>
                    <form @submit.prevent="submit">
                        <div class="block block-rounded block-fx-shadow">
                            <!-- Database section -->
                            <div class="block-content block-content-full">
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" id="login-email" v-model="form.email" :class="{'is-invalid' : errors.email }" placeholder="Username/Email">
                                    <label class="form-label" for="login-email">Username/Email</label>
                                    <div v-if="errors.email" class="invalid-feedback">
                                        {{ errors.email }}
                                    </div>
                                </div>
                                <div class="form-floating mb-4">
                                    <input :type="isPasswordVisible ? 'text' : 'password'" class="form-control" id="login-password" v-model="form.password" :class="{'is-invalid' : errors.password }" placeholder="Password">
                                    <a href="javascript:void(0)" class="append-icon" @click="isPasswordVisible = !isPasswordVisible">
                                        <i :class="isPasswordVisible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                                    </a>
                                    <label class="form-label" for="login-password">Password</label>
                                    <div v-if="errors.password" class="invalid-feedback">
                                        {{ errors.password }}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary w-100" :disabled="loading">
                                    <b-spinner small v-if="loading"></b-spinner>
                                    Masuk Sekarang
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       </div> 
    </guest-layout>
</template>
<script>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import GuestLayout from '@/Layouts/Guest';
export default {
    components : {
        GuestLayout
    },
    props : {
        canResetPassword: Boolean,
        status: String,
        errors : Object,
    },
    data(){
        return {
            isPasswordVisible : false,
            loading : false,
            form : useForm({
                email: null,
                password: null,
            })
        }
    },
    methods :{
        submit(){
            this.form.post(route('login'), {
                onFinish: () => form.reset('password'),
            });
        }
    }
}
</script>