<script setup>
import GuestLayout from '@/Layouts/Guest.vue';
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';

const form = useForm({
    name: '',
    email: '',
    password: '',
    password_confirmation: '',
    terms: false,
});

const submit = () => {
    form.post(route('register'), {
        onFinish: () => form.reset('password', 'password_confirmation'),
    });
};
</script>

<template>
    <guest-layout>
       <div class="auth-wrapper">
        <div class="content content-full">
            <div class="row justify-content-center py-30 my-30">
                <div class="col-md-4 col-xl-4 align-items-center">
                    <div class="py-5 text-center">
                        <img src="/media/logo/logo.png" class="img-fluid"/>
                        <h1 class="h3 fw-bold mt-5 mb-2">Masuk Sekarang</h1>
                        <h2 class="fs-base fw-medium text-muted mb-0">Belum Punya Akun? <a :href="route('register')">Daftar</a> Sekarang !</h2>
                    </div>
                    <form @submit.prevent="submit">
                        <div class="block block-rounded block-fx-shadow">
                            <!-- Database section -->
                            <div class="block-content block-content-full">
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" id="login-email" v-model="form.email" :class="{'is-invalid' : errors.email }" placeholder="Username/Email">
                                    <label class="form-label" for="login-email">Username/Email</label>
                                    <div v-if="errors.email" class="invalid-feedback">
                                        {{ errors.email }}
                                    </div>
                                </div>
                                <div class="form-floating mb-4">
                                    <input :type="isPasswordVisible ? 'text' : 'password'" class="form-control" id="login-password" v-model="form.password" :class="{'is-invalid' : errors.password }" placeholder="Password">
                                    <a href="javascript:void(0)" class="append-icon" @click="isPasswordVisible = !isPasswordVisible">
                                        <i :class="isPasswordVisible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                                    </a>
                                    <label class="form-label" for="login-password">Password</label>
                                    <div v-if="errors.password" class="invalid-feedback">
                                        {{ errors.password }}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary w-100" :disabled="loading">
                                    <b-spinner small v-if="loading"></b-spinner>
                                    Masuk Sekarang
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       </div> 
    </guest-layout>
</template>
